<template name="groupsList">
    <h3>Groups listing page</h3>
    <table>
        <thead>
            <tr>
                <td>Group name</td>
                <td>Your role</td>
                <td># of members</td>
                <td># of classrooms</td>
                <td>Actions</td>
            </tr>

        </thead>
        <tbody>
        {{#each group in groups}}
            <tr>
                <td>{{group.groupName}}</td>
                <td>{{myRole group}}</td>
                <td>{{group.members.length}}</td>
                <td>{{group.environments.length}}</td>
                <td>{{> groupViewLink group=group}} {{> groupEditLink group=group}}</td>
            </tr>
        {{/each}}
        </tbody>
    </table>
</template>


<template name="groupViewLink">
    <a href="/groups/{{ group._id }}/view">View</a>
</template>

<template name="groupEditLink">
    <a href="/groups/{{ group._id }}/edit">Edit</a>
</template>