<template name="groupsList">
    <div class="page--group">
        <h3>My groups</h3>
        <details>
            <summary>Create a new group</summary>
            <form class="group-creation">
                <div class="group-creation__name">
                    <label for="group-creation__name">Name</label>
                    <input type="text" id="group-creation__name" placeholder="My workshop">
                </div>
                <button class="group-creation__submit">Create group</button>
            </form>
        </details>
        <table>
            <thead>
            <tr>
                <td>Group name</td>
                <td>Your role</td>
                <td># of members</td>
                <td># of classrooms</td>
                <td>Actions</td>
            </tr>

            </thead>
            <tbody>
            {{#each group in groups}}
                <tr>
                    <td><a href="{{pathFor route='groupView' _groupId=group._id}}">{{group.groupName}}</a></td>
                    <td>{{myRole group}}</td>
                    <td>{{group.members.length}}</td>
                    <td>{{group.environments.length}}</td>
                    <td>{{> groupViewLink group=group}}
                        {{> groupManageLink group=group}}
                        {{#if canDelete group}}{{> groupDeleteLink group=group}}{{/if}}
                    </td>
                </tr>
            {{/each}}
            </tbody>
        </table>
    </div>
</template>


<template name="groupViewLink">
    <a href="{{pathFor route='groupView' _groupId=group._id}}">Classrooms</a>
</template>

<template name="groupManageLink">
    <a href="{{pathFor route='groupManage' _groupId=group._id}}">Members</a>
</template>

<template name="groupDeleteLink">
    <button class="delete-group">Delete</button>
</template>