<template name="footer">
    <footer>
        <div class="c--app-footer__container">
            <p class="c--app-footer__title">&copy; 2018 EQUIP</p>
            <div>
                <ul>
                    <li class="c--app-footer__content"><a href="/terms-of-use">Terms Of Use</a></li>
                    <li class="c--app-footer__content" style="color: black;">&bull;</li>
                    <li class="c--app-footer__content"><a href="/terms-of-use#privacy">Privacy Policy</a></li>
                    <li class="c--app-footer__content" style="color: black;">&bull;</li>
                    <li class="c--app-footer__content"><a href="https://github.com/seanbeaton/dataObs/issues/new?assignees=seanbeaton&labels=bug&body=Let%20us%20know%20what%20issue%20you%27re%20having%20with%20EQUIP.%20Thanks%20for%20making%20EQUIP%20better!">Report a bug</a></li>
                 </ul>
            </div>
        </div>
    </footer>
</template>
