<template name="footer">
    <footer>
        <div class="c--app-footer__container">
            <p class="c--app-footer__title">&copy; 2018 EQUIP</p>
            <div>
                <ul>
                    <li class="c--app-footer__content"><a href="/terms-of-use">Terms Of Use</a></li>
                    <li class="c--app-footer__content" style="color: black;">&bull;</li>
                    <li class="c--app-footer__content"><a href="/terms-of-use#privacy">Privacy Policy</a></li>
                    <li class="c--app-footer__content" style="color: black;">&bull;</li>
                    <li class="c--app-footer__content"><a target="_blank" href="https://docs.google.com/forms/d/e/1FAIpQLScx4pYulHHXaBcIzGz7ZD3Y4KymOzINGGope1UyasPXqRd18g/viewform">Report a bug</a></li>
                 </ul>
            </div>
        </div>
    </footer>
</template>
