<template name="footer">
    <footer>
        <div class="c--app-footer__container">
            <p class="c--app-footer__title">&copy; 2018 Equip</p>
            <div>
                <ul>
                    <li class="c--app-footer__content"><a href="/terms-of-use">Terms Of Use</a></li>
                    <li class="c--app-footer__content" style="color: black;">&bull;</li>
                    <li class="c--app-footer__content"><a href="/terms-of-use#privacy">Privacy Policy</a></li>
                 </ul>
            </div>
        </div>
    </footer>
</template>
