<!-- HTML for a navbar that shows up on every page -->

<template name="header">
<!-- Bootstrap core CSS, JS dependancies included in Meteor Bootstrap package -->
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>EQUIP App</title>
<meta name="description" content="Tool for educational researchers to do equity-based observations in classrooms">
<link href="https://fonts.googleapis.com/css?family=Catamaran|Noto+Sans|Roboto+Slab|Source+Sans+Pro" rel="stylesheet">
</head>

<!-- Navbar  -->

<nav class="columns nav-wrap has-text-centered">
    <div class="column n-item">
    <a class="" href="{{pathFor 'landingPage'}}" id="navHome">Home</a>
  </div>
    <div class="column n-item">
      <a href="{{pathFor 'aboutPage'}}">About</a>
    </div>
    <div class="column n-item">
      <a class="" href="{{pathFor 'obsDashboard'}}">Dashboard</a>
    </div>
        {{#if currentUser}}
      <div class="column n-item">
      <a href="{{pathFor 'environmentList'}}" id="navEnv" class="">Classrooms</a>
    </div>
    <div class="column n-item">
      <a class="" href="{{pathFor 'viewData'}}" >Analysis</a>
    </div>
        {{/if}}
      <div class="column n-item">
      {{> loginButtons}}
      </div>
</nav>
</template>
