<template name="tutorials">
    <h2 class="page__heading">Tutorials</h2>
    <section class="page__section section tutorials">
        <h4 class="section__title"></h4>
        <div class="section__description">
            In addition to the videos below, you can find more technical information at <a target="_blank" href="https://docs.equip.ninja">our docs page</a>.
        </div>
        <div class="section__content">
            <div class="subsection">
                <h3 class="subsection__title">What is EQUIP?</h3>
                <h3 class="subsection__content">
                    <div class="tutorial-video">
                        <div class="responsive-video">
                            <iframe width="560" height="315" src="https://www.youtube-nocookie.com/embed/l9x0NvqwOCM"
                                    frameborder="0"
                                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                                    allowfullscreen></iframe>
                        </div>
                    </div>
                    <div class="dummy-item"></div>
                    <div class="dummy-item"></div>
                </h3>
            </div>
            <div class="subsection">
                <h3 class="subsection__title">Setting Up a Classroom & Performing an Observation</h3>
                <h3 class="subsection__content">
                    <div class="tutorial-video">
                        <div class="responsive-video">
                            <iframe width="560" height="315" src="https://www.youtube-nocookie.com/embed/chh_fel8Zdg"
                                    frameborder="0"
                                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                                    allowfullscreen></iframe>
                        </div>
                    </div>
                    <div class="tutorial-video">
                        <div class="responsive-video">
                            <iframe width="560" height="315" src="https://www.youtube-nocookie.com/embed/TEe-AZdqcwU"
                                    frameborder="0"
                                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                                    allowfullscreen></iframe>
                        </div>
                    </div>

                    <div class="dummy-item"></div>
                    <div class="dummy-item"></div>
                </h3>
            </div>
            <div class="subsection">
                <h3 class="subsection__title">Analyzing Your Data</h3>
                <h3 class="subsection__content">
                    <div class="tutorial-video">
                        <div class="responsive-video">
                            <iframe width="560" height="315" src="https://www.youtube-nocookie.com/embed/Hz4o-a2tXT4"
                                    frameborder="0"
                                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                                    allowfullscreen></iframe>
                        </div>
                    </div>
                    <div class="tutorial-video">
                        <div class="responsive-video">
                            <iframe width="560" height="315" src="https://www.youtube-nocookie.com/embed/iu98NN8wlLo"
                                    frameborder="0"
                                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                                    allowfullscreen></iframe>
                        </div>
                    </div>
                    <div class="tutorial-video">
                        <div class="responsive-video">
                            <iframe width="560" height="315" src="https://www.youtube-nocookie.com/embed/S1L2_0IXV2I"
                                    frameborder="0"
                                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                                    allowfullscreen></iframe>
                        </div>
                    </div>
                    <div class="tutorial-video">
                        <div class="responsive-video">
                            <iframe width="560" height="315" src="https://www.youtube-nocookie.com/embed/JRU8xohbnM8"
                                    frameborder="0"
                                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                                    allowfullscreen></iframe>
                        </div>
                    </div>
                    <div class="tutorial-video">
                        <div class="responsive-video">
                            <iframe width="560" height="315" src="https://www.youtube-nocookie.com/embed/IqnG9C7GmTc"
                                    frameborder="0"
                                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                                    allowfullscreen></iframe>
                        </div>
                    </div>
                    <div class="dummy-item"></div>
                    <div class="dummy-item"></div>
                </h3>
            </div>
        </div>
    </section>
</template>
