<!-- HTML for data analyisis page -->

<template name="viewData">
  <section class="section report-dash-head">
    <h2 class="report-head title is-2 is-pulled-left">Data Report</h2>
    <button class="button is-medium has-text-centered reset-button">Reset</button>
    <button class="button is-medium has-text-centered export-data-button">Export CSV</button>
    <a class="button is-medium help-button is-pulled-right has-text-centered">Help!?</a>
  </section>

<!-- HTML for selecting what to include in report (visible to start) -->
  <section class="section option-select">
    <h1 class="title is-2 env-label-head">Select a Classroom</h1>
    <div class="columns env-selection is-multiline">
      
    </div>
    <h1 class="title is-2 env-label-head">Select Observations</h1>
    <div class="columns obs-selection">
      <h2 class="column subtitle is-4">Please select a classroom first</h2>
    </div>
    <h1 class="title is-2 env-label-head">Select Demographic Parameters</h1>
    <div class="columns dparam-selection">
      <h2 class="column subtitle is-4">Please select a classroom first</h2>
    </div>
    <h1 class="title is-2 env-label-head">Select Sequence Parameters</h1>
    <div class="columns sparam-selection">
      <h2 class="column subtitle is-4">Please select a classroom first</h2>
    </div>
    <button class="button is-large is-success generate-button">Generate Report!</button>
  </section>

<!-- HTML for displaying graphics (hidden at first) -->
  <section class="section report-body">
    <h1 class="title is-2 env-label-head">Classroom Demographic Breakdown</h1>
    <div class="columns demo-plots">
    
    </div>
    <h1 class="title is-2 env-label-head">Contributions Across Demographics</h1>
    <div class="columns contribution-plots">
    
    </div>

  </section>

  <script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-80377470-1', 'auto');
  ga('send', 'pageview');
  </script>
</template>
