<!-- Homepage HTML -->

<template name="landingPage">
    <section class="c--landing-page__outer">
        <div class="c--landing-page__logo-container">
            <h1 class="c--landing-page__logo">Equip</h1>
        </div>
        <div class="c--landing-page__main-container">
            <div class="c--landing-page__main-container--left"></div>
            <div class="c--landing-page__main-container--right">
                <p>EQUIP is a customizable observation tool for tracking patterns in student participation.
                    The goal is simple: to empower teachers in building more equitable classrooms.
                    EQUIP can be used in the classroom in real time or with videos of classroom teaching.
                    After completing an observation, EQUIP generates instant analytics that teachers can
                    use to improve their practice.
                </p>
            </div>
        </div>
        <div class="c--landing-page__c2a-container">
            <div class="o--standard-button c--landing-page__c2a-learn-more-button">
                <a class="c--landing-page__c2a-learn-more-link" href="{{pathFor 'aboutPage'}}">Learn More</a>
            </div>
            <div class="o--standard-button c--landing-page__c2a-sign-in-button">
                Sign Up
            </div>
        </div>

        <h1 class="c--landing-page__get-started-title">get started with EQUIP</h1>
    </section>

    <section class="c--landing-page__get-started-outer">
        <div class="c--landing-page__get-started">
            <div class="c--landing-page__get-started-inner">
                <div class="c--landing-page__get-started-left">
                    <ul class="c--landing-page__get-started-left-list-container">
                        <li class="c--landing-page__get-started-left-list-item">
                            <h5 class="c--landing-page__get-started-left-title">1. Create</h5>
                            <p class="c--landing-page__get-started-left-content"> Create your classrom and student roster.</p>
                        </li>
                        <li class="c--landing-page__get-started-left-list-item">
                            <h5 class="c--landing-page__get-started-left-title">2. Customize</h5>
                            <p class="c--landing-page__get-started-left-content"> Customize the social markers (race, gender,etc) and impacts
                                of classroom talk (type of teacher question, quality of student talk, etc)
                                you want to track.
                            </p>
                        </li>
                        <li class="c--landing-page__get-started-left-list-item">
                            <h5 class="c--landing-page__get-started-left-title">3. Observe</h5>
                            <p class="c--landing-page__get-started-left-content"> Create your classrom and student roster.</p>
                        </li>
                        <li class="c--landing-page__get-started-left-list-item">
                            <h5 class="c--landing-page__get-started-left-title">4. Analyze</h5>
                            <p class="c--landing-page__get-started-left-content"> Create your classrom and student roster.</p>
                        </li>
                    </uL>
                </div>
                <div class="c--landing-page__get-started-right"></div>
            </div>
        </div>
    </section>

    <section class="c--landing-page__faq-outer">
        <div class="c--landing-page__c2a-container">
            <div class="o--standard-button c--landing-page__c2a-learn-more-button">
                <a class="c--landing-page__c2a-learn-more-link" href="{{pathFor 'aboutPage'}}">Learn More</a>
            </div>
            <div class="o--standard-button c--landing-page__c2a-sign-in-button">
                Sign Up
            </div>
        </div>

        <div class="c--landing-page__faq">
            <h1 class="c--landing-page__faq-title">press</h1>
            <div class="c--landing-page__faq-inner">
                <div class="c--landing-page__faq-item">
                    <div class="c--landing-page__faq-item-top">
                        <p class="c--landing-page__faq-item-top-content">
                            App in development is making waves lorem ipsum lorem ipsum blah blah
                        </p>
                        <p class="c--landing-page__faq-item-top-date">1/15/17</p>
                    </div>
                    <div class="c--landing__faq-item-bottom">
                        <p class="c--landing-page__faq-item-top-publication">Washington Post</p>
                    </div>
                </div>
                <div class="c--landing-page__faq-item">
                    <div class="c--landing-page__faq-item-top">
                        <p class="c--landing-page__faq-item-top-content">
                            App in development is making waves lorem ipsum lorem ipsum blah blah
                        </p>
                        <p class="c--landing-page__faq-item-top-date">1/15/17</p>
                    </div>
                    <div class="c--landing__faq-item-bottom">
                        <p class="c--landing-page__faq-item-top-publication">Washington Post</p>
                    </div>
                </div>
                <div class="c--landing-page__faq-item">
                    <div class="c--landing-page__faq-item-top">
                        <p class="c--landing-page__faq-item-top-content">
                            App in development is making waves lorem ipsum lorem ipsum blah blah
                        </p>
                        <p class="c--landing-page__faq-item-top-date">1/15/17</p>
                    </div>
                    <div class="c--landing__faq-item-bottom">
                        <p class="c--landing-page__faq-item-top-publication">Washington Post</p>
                    </div>
                </div>
            </div>
        </div>
    </section>


<script>
(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
})(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

ga('create', 'UA-80377470-1', 'auto');
ga('send', 'pageview');
</script>
</template>
