<!-- Homepage HTML -->

<template name="landingPage">
    <section class="c--landing-page__outer">
        <div class="c--landing-page__logo-container">
            <h1 class="c--landing-page__logo">Equip</h1>
        </div>
        <div class="c--landing-page__main-container">
            <div class="c--landing-page__main-container--left"></div>
            <div class="c--landing-page__main-container--right">
                <p>EQUIP is a customizable observation tool for tracking patterns in student participation.
                    The goal is simple: to empower teachers in building more equitable classrooms.
                    EQUIP can be used in real-time or with videos of classroom teaching.
                    After completing an observation, EQUIP generates instant analytics
                    that teachers can use to improve their practice.
                </p>
            </div>
        </div>
        <div class="c--landing-page__c2a-container">
            <div class="o--standard-button c--landing-page__c2a-learn-more-button">
                <a class="c--landing-page__c2a-learn-more-link" href="{{pathFor 'aboutPage'}}">Learn More</a>
            </div>

            <div class="o--standard-button c--landing-page__c2a-sign-up-button">
                <a class="c--landing-page__c2a-sign-up-link" href="{{pathFor 'signup'}}">Sign Up</a>
            </div>
        </div>

        <h1 class="c--landing-page__get-started-title">Get started with EQUIP</h1>
    </section>

    <section class="c--landing-page__get-started-outer">
        <div class="c--landing-page__get-started">
            <div class="c--landing-page__get-started-inner">
                <div class="c--landing-page__get-started-right"></div>
                <div class="c--landing-page__get-started-left">
                    <ul class="c--landing-page__get-started-left-list-container">
                        <li class="c--landing-page__get-started-left-list-item">
                            <h5 class="c--landing-page__get-started-left-title">1. Create</h5>
                            <p class="c--landing-page__get-started-left-content"> Create your classroom and student roster.</p>
                        </li>
                        <li class="c--landing-page__get-started-left-list-item">
                            <h5 class="c--landing-page__get-started-left-title">2. Customize</h5>
                            <p class="c--landing-page__get-started-left-content"> Customize the social markers (race, gender, etc.)
                                and aspects of classroom discourse (type of teacher question, quality
                                of student talk, etc.) you want to track.
                            </p>
                        </li>
                        <li class="c--landing-page__get-started-left-list-item">
                            <h5 class="c--landing-page__get-started-left-title">3. Observe</h5>
                            <p class="c--landing-page__get-started-left-content">Observe lessons and use EQUIP to track what you see.</p>
                        </li>
                        <li class="c--landing-page__get-started-left-list-item">
                            <h5 class="c--landing-page__get-started-left-title">4. Analyze</h5>
                            <p class="c--landing-page__get-started-left-content">Analyze trends in your data.</p>
                        </li>
                    </uL>
                </div>
            </div>
        </div>
    </section>

    <section class="c--landing-page__faq-outer">
        <div class="c--landing-page__c2a-container">
            <div class="o--standard-button c--landing-page__c2a-learn-more-button">
                <a class="c--landing-page__c2a-learn-more-link" href="{{pathFor 'aboutPage'}}">Learn More</a>
            </div>
            <div class="o--standard-button c--landing-page__c2a-sign-in-button">
                Sign Up
            </div>
        </div>

        <div class="c--landing-page__faq">
            <h1 class="c--landing-page__faq-title">press</h1>
            <div class="c--landing-page__faq-inner">
                <div class="c--landing-page__faq-item">
                    <div class="c--landing-page__faq-item-top">
                        <p class="c--landing-page__faq-item-top-content">
                            App in development helps teachers fight their own implicit bias in the classroom
                        </p>
                        <a class="c--landing-page__faq-item-top-link" target="_blank" href="http://michiganradio.org/post/app-development-helps-teachers-fight-their-own-implicit-bias-classroom">
                            Read More
                        </a>
                    </div>
                    <div class="c--landing__faq-item-bottom">
                        <p class="c--landing-page__faq-item-top-publication">Michigan Radio</p>
                    </div>
                </div>
                <div class="c--landing-page__faq-item">
                    <div class="c--landing-page__faq-item-top">
                        <p class="c--landing-page__faq-item-top-content">
                            Could an App Help Teachers Recognize Their Own Biases?
                        </p>
                        <a class="c--landing-page__faq-item-top-link" target="_blank" href="http://blogs.edweek.org/edweek/teacherbeat/2017/09/could_an_app_help_teachers_recognize_biases.html">
                            Read More
                        </a>
                    </div>
                    <div class="c--landing__faq-item-bottom">
                        <p class="c--landing-page__faq-item-top-publication">Education Week</p>
                    </div>
                </div>
                <div class="c--landing-page__faq-item">
                    <div class="c--landing-page__faq-item-top">
                        <p class="c--landing-page__faq-item-top-content">
                            MSU Researcher working to reduce teacher bias in the classroom
                        </p>
                        <a class="c--landing-page__faq-item-top-link" target="_blank" href="http://msutoday.msu.edu/news/2017/msu-researcher-working-to-reduce-teacher-bias-in-the-classroom/">
                            Read More
                        </a>
                    </div>
                    <div class="c--landing__faq-item-bottom">
                        <p class="c--landing-page__faq-item-top-publication">MSU TODAY</p>
                    </div>
                </div>
            </div>
        </div>
    </section>

</template>
