<!-- Homepage HTML -->

<template name="landingPage">
  <section class="section land-1">
    <p class="subtitle is-3 beta">EQUIP App in Beta - Thanking you for testing with us</p>

    <div class="columns">
      <div class="column is-half">
        <figure class ="image">
          <img src="equip_hands-01.png" />
        </figure>
      </div>
      <div class="column is-half">
        <div class="columns">
          <figure class="column is-half is-offset-one-quarter image">
          <img src="equip_logo-01.png" />
          </figure>
        </div>
        <div class="columns has-text-centered">
          <p class="title is-1">Understanding Classroom Equity by Observing Participation</p>
        </div>
      </div>
    </div>
  </section>
  <section class="section land-2">
    <div class="columns">
      <div class="column has-text-centered">
        <h1 class="title is-1">EQUIP = Equity Quantified in Participation</h1>
      </div>
    </div>
    <div class="columns">
      <div class="column is-half is-offset-1">
        <p>The EQUIP tool was created to support researchers in performing classroom observations. We make it simple to track student contributions during a live observation using custom parameters needed for your research. Once you have data, you can graph, analyze, and export it. EQUIP is NOT a tool for evaluating teachers; rather it is designed to be used for logging student contributions in a classroom.</p>
      </div>
      <figure class="column is-half">
        <img class="equip-use" src="equip_person-02.png" />
      </figure>
    </div>
  </section>
  <section class="section land-3">
    <div class="columns">
      <div class="column is-10 is-offset-1">
        <h1 class="title is-1">How It Works:</h1>
        <p>1. Create a classroom that gives a context to your observations.
          <br>
          2. Define the demographic parameters you'd like to track on students in the classroom. 
          <br>
          3. Define observataional parameters to track as you watch the students interact in the classroom.
          <br>
          4. Add students to the roster so you can track each one as you go.
          <br>
          5. Begin an observation for your classroom and record data.
          <br>
          6. Once you've recorded some data, analyze the trends!
        </p>
        <a class="su button is-large" href="#" data-action="signUp">Sign Up</a>
      </div>
    </div>
  </section>
  <section class="section land-4">
    <div class="column is-10 is-offset-1">
        <h1 class="title is-1">Sponsored By..</h1>
        <p>1. <a class="sponsor" href="http://www.colorado.edu/assett/">ASSETT</a> Program at CU-Boulder
          <br>
          2. <a class="sponsor" href="http://www.colorado.edu/csl/">Center for STEM Learning</a> at CU-Boulder
          <br>
          3. <a class="sponsor" href="http://www.wcer.wisc.edu/About/Project/1113">A3iMS</a> at UW-Madison
        </p>
    </div>
  </section>

<script>
(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
})(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

ga('create', 'UA-80377470-1', 'auto');
ga('send', 'pageview');
</script>
</template>
