.subjects-table {
  overflow-y: scroll;
  padding-bottom: 20px;
}

tr.deleted-student {
  background-color: #ddd;

  input[type="text"] {
    opacity: 0.4;

  }
}

tr[data-row-status="new"] {
  background-color: rgba(68, 255, 50, 0.22);
}

.student-data-input {
  background-color: transparent;
  padding: 5px 8px;
  border: 0;
  font-size: 14px;
}

.subjects-table {
  td {
    padding: 0;
    margin: 0;
  }

  td.text-content {
    padding: 5px 8px 3px;
    line-height: 1em;
  }
}

td.student-action {
  min-width: 41px;
  text-align: center;
}

.invalid-param-value {
  background-color: rgba(204, 11, 99, 0.24);
}
