.page--group {
  max-width: 900px;
  margin: 0 auto;
  padding: 80px 20px;

  table {
    td {
      padding: 2px 4px;
    }
  }
  thead {
    td {
      border: 0;
      border-right: 1px solid #666;
      &:first-child {
        border-left: 1px solid #666;
      }
    }
    tr:first-child td {
      text-align: center;
    }
    td {
      min-width: 120px;
    }
    border-bottom: 3px solid #666;
  }
}

.autocomplete-form {
  margin: 20px 0;
  input[type='text'] {
    width: 220px;
    padding: 6px 5px;
  }
  input[type="radio"] {
    margin: 4px 8px;
  }
  li {
    margin: 0;
    font-size: 16px;
  }
  div {
    font-size: 16px;
  }
  .-autocomplete-container {
    margin-top: 6px;
  }
}