.heatmap-report {
  display: grid;
  margin: 20px 0 0;
  div {
    margin: 0;
  }

  .student-box {
    position: relative;
    cursor: pointer;
    float: left;
    margin: 5px;
    @include nt($prop: opacity);
    &:hover {
      opacity: 0.8;
    }
    &.demo-label {
      clear: both;
      &,
      &[style] {
        background: 0 !important;
      }
      p {
        color: #333;
        background: 0;
      }
      + .student-box {
        clear: left;
      }
    }
  }
  .subjects {
    padding: 7px 20px;
    display: block;
    flex-flow: row wrap;
    min-height: auto;
    height: auto;
    &.subjects--fixed-height {
      min-height: 1200px;
      height: 1200px;
    }
  }
  grid-template-columns: 50% 50%;
  grid-template-rows: auto auto auto auto;
}

.heatmap-report {
  font-family: Roboto, sans-serif;
}

// Grid placements

.heatmap-report__graph-key {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 2;
  min-height: 50px;
}

.heatmap-report__graph-stat {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 2;
  min-height: 50px;
}

.heatmap-report__filters {
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 2;
  grid-row-end: 3;
}

.heatmap-report__sort {
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 3;
  grid-row-end: 4;
}

.heatmap-report__graph {
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 4;
  grid-row-end: 5;
}

.heatmap-report__student-spotlight {
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 5;
}


$grid-color: #333;
$light-grid-color: #ddd;

// Grid lines
.heatmap-report__graph-key {
  //border-bottom: 1px solid $grid-color;
  height: 100%;
}

.heatmap-report__graph-stat {
  display: flex;
  flex-flow: column nowrap;
  h4 {
    margin-top: auto;
  }
}

.heatmap-report__student-spotlight {
  background-color: white;
  opacity: 0;
  z-index: 1;
  pointer-events: none;
  @include nt($prop: opacity);
  &.student-spotlight--active {
    opacity: 1;
    pointer-events: auto;
  }
}

.heatmap-report__filters {
  .filters__wrapper  {
    display: flex;
    flex-flow: row wrap;
  }
  .select__wrapper {
    margin-right: 10px;
    margin-bottom: 10px;
  }
}

.student-spotlight {
  position: relative;
  padding: 20px;
}

.student-spotlight__close {
  position: absolute;
  top: 20px;
  right: 20px;
  padding: 10px;
}

.student-spotlight__demographics {
  .demo-label {
    font-weight: 600;
  }
  li {
    margin: 0;
  }
}

#heatmap-d3-wrapper {
  overflow-x: scroll;
  position: relative;
}


.disabled-student {
  pointer-events: none;
  opacity: 0.3;
}