.heatmap-report {
  display: grid;
  margin: 20px 0 0;
  div {
    margin: 0;
  }

  .student-box {
    cursor: pointer;
    @include nt($prop: opacity);
    &:hover {
      opacity: 0.8;
    }
  }

  grid-template-columns: 50% 50%;
  grid-template-rows: auto auto;
}

.heatmap-report {
  font-family: Roboto, sans-serif;
}

// Grid placements

.heatmap-report__graph-key {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 2;
  min-height: 50px;
}

.heatmap-report__graph-stat {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 2;
  min-height: 50px;
}

.heatmap-report__graph {
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 2;
  grid-row-end: 3;
}

.heatmap-report__student-spotlight {
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 3;
}


$grid-color: #333;
$light-grid-color: #ddd;

// Grid lines
.heatmap-report__graph-key {
  //border-bottom: 1px solid $grid-color;
  height: 100%;
}

.heatmap-report__graph-stat {
  display: flex;
  flex-flow: column nowrap;
  h4 {
    margin-top: auto;
  }
}

.heatmap-report__student-spotlight {
  background-color: white;
  opacity: 0;
  z-index: 1;
  pointer-events: none;
  @include nt($prop: opacity);
  &.student-spotlight--active {
    opacity: 1;
    pointer-events: auto;
  }
}

.student-spotlight {
  position: relative;
  padding: 20px;
}

.student-spotlight__close {
  position: absolute;
  top: 20px;
  right: 20px;
  padding: 10px;
}

.student-spotlight__demographics {
  .demo-label {
    font-weight: 600;
  }
  li {
    margin: 0;
  }
}