
.observatory.search-active {
  .search-disabled {
    opacity: 0.5;
  }
  .search-enabled {
    border: 2px solid #333;
  }
}

.observatory {
  &.observatory--code {
    .student-box {
      &:not(.enabled) {
        pointer-events: none;
      }
    }
  }
  &.observatory--edit {
    animation: students-pulse 1.5s infinite;
    .student-box {
      cursor: pointer;
    }
  }
  .student-box {
    &.enabled {
      cursor: pointer;
    }
    &:not(.enabled) {
      opacity: 0.3;
    }
    &:focus, &:hover {
      border: 2px solid #0f81cc;
      outline: #0f81cc;
    }
  }
}


.current-search-popup {
  position: fixed;
  bottom: 20px;
  //margin: 0 auto;
  background: rgba(0,0,0,0.7);
  font-size: 30px;
  padding: 14px 20px;
  border-radius: 5px;
  color: white;
  z-index: 1000;
  left: 50%;
  transform: translate(-50%, 0);
}
label[for="observation__description"],
label[for="observation__notes"] {
  pointer-events: none;
}

.observation__description,
.observation__notes {
  padding: 8px 8px;
  background: rgba(255,255,255,0.5);
  display: block;
}

#obs-desc-form,
#obs-notes-form {
  button {
    background-color: transparent;
    border: 2px solid var(--orange);
    margin: 10px 0;
    padding: 4px 8px;
    font-family: 'Roboto Condensed', sans-serif;
    color: var(--orange);
    font-weight: 700;
    font-size: 16px;
    text-transform: uppercase;
    cursor: pointer;
  }
  .item-saved-message {
    color: #008b34;
    padding: 0 8px;
  }
}

#observationDescription {
  width: 100%;
  padding: 8px 8px;
  background: rgba(255,255,255,0.5);
  display: block;
}

#obs-create-modal .control {
  margin-bottom: 10px;
}

@keyframes students-pulse {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.8;
  }
  100% {
    opacity: 1;
  }
}