<template name="admin">
    <div class="basic-container">
        <h2>Site admin</h2>
        <p>Below you can find the various site administration options.</p>
        <ul>
            <li><a href="{{pathFor 'research_content_manage'}}">Manage research content</a></li>
            <li><a href="{{pathFor 'press_content_manage'}}">Manage press content</a></li>
            <li><a href="{{pathFor 'siteStats'}}">Site stats</a></li>
            <li><a href="{{pathFor 'siteStatsTime'}}">Site stats over time</a></li>
        </ul>
    </div>

</template>
