<!-- HTML for observation item on the observation list -->

<template name="observationItem">
    <div class="single-env">
        <div class="level">
          <div class="level-left">
            <h1 class="title is-3 env-name">{{name}}</h1>
          </div>
          <div class="level-right">
            <button id="delete-obs-button" class="button is-medium is-danger">Delete</button>
          </div>
        </div>
        <div class="columns">
            <div class="column">
                <p>Created On: {{submitted}}</p>
                <p>Last Modified: {{lastModified}} </p>
            </div>
        </div>
        <div class="columns">
      <div class="column"></div>
      <div class="column">
            <button id="enter-class" class="button is-large enter-button">Enter Observation</button>
      </div>
      <div class="column">
            <button id="enter-class" class="button is-large enter-button">View/Edit Contributions</button>
      </div>
      <div class="column"></div>
    </div>
    </div>
</template>
