<!-- HTML of observation list holding observation items and the observation environment item -->

<template name="observationList">
  <!-- MAIN PAGE -->
  <section class="section">
    <div class="shared-heading">
      <h2 class="title is-4 back-head-params is-pulled-left">&#8592; Back to Dashboard</h2>
      <a class="button is-medium help-button is-pulled-right has-text-centered">Help!?</a>
      <!-- CAN FIX UP THIS HELP BUTTON LATER -->
    </div>
  </section>
  <section class="section">
    <h1 class="title is-2 env-label-head">Your observations for {{envName}}</h1>
    <div class="columns">
      <div class="column is-offset-1">
        <button id="obs-create-button" class="button is-medium is-success has-text-centered">New Observation</button>
        {{ #if hasObsMade }}
            <button id="edit-params-button" class="button is-medium has-text-centered">Edit Demographics / Dimensions</button>
        {{else}}
            <button id="edit-params-button" class="button is-medium has-text-centered">View Demographics / Dimensions</button>
        {{ /if }}
        <button id="edit-students-button" class="button is-medium has-text-centered">Edit Student Roster </button>
        <button id="show-all-observations" class="button is-medium">Contribution History</button>


      </div>
    </div>
  </section>
  <section class="section">
    <div class="columns is-multiline is-mobile">
      <div class="column is-offset-1 is-three-quarters box">
        {{#each observation}}
          {{> observationItem}}
        {{/each}}
      </div>
    </div>
  </section>

  <!-- MODAL FOR CREATE NEW OBSERVATION -->
    <div id="obs-create-modal" class="modal">
      <div class="modal-background"></div>
      <div class="modal-card">
        <header class="modal-card-head">
          <p class="modal-card-title">Create a New Observation</p>
          <button id="obs-close-modal" class="delete"></button>
        </header>
        <section class="modal-card-body">
          <label class="label">Observation Name</label>
            <p class="control">
              <input class="input" type="text" placeholder="E.g., 1/14/2017" id="observationName">
            </p>
        </section>
        <footer class="modal-card-foot">
          <a id="save-obs-name" class="button is-success">Save changes</a>
          <a class="button">Cancel</a>
        </footer>
      </div>
    </div>

  <!-- MODAL FOR STUDENT PARAMS -->
  <div id="seq-param-modal" class="modal">
    <div class="modal-background"></div>
      <div id="param-modal-content" class="modal-content">

      </div>
      <button class="modal-close"></button>
  </div>

  <!-- HELP MODAL -->
  <div id="help-env-modal" class="modal">
    <div class="modal-background"></div>
    <div class="modal-card">
      <header class="modal-card-head">
        <p class="modal-card-title">How to Work With Classrooms</p>
        <button id="help-close-modal" class="delete"></button>
      </header>
      <section class="modal-card-body">
      Each classroom corresponds to a physical environment, with a particular teacher and set of students. Within this classroom, you may have a number of observations, corresponding to individual class sessions. To start a new session, click on "new observation." Once you have created this session, you can actually perform the observation by clicking on "enter observation." Remember, before you can perform your observations, you must (1) setup the demographic and observation parameters (using the "edit classroom parameters" button) and (2) add students (using the "add/edit student roster" button).
      </section>
      <footer class="modal-card-foot">
        <a class="button">Cancel</a>
      </footer>
    </div>
  </div>


  <!-- MODAL FOR TABLE OF STUDENTS -->
  <div id="seq-data-modal" class="modal">
    <div class="modal-background"></div>
      <div id="data-modal-content" class="modal-content">
      </div>
      <button class="modal-close"></button>
  </div>
</template>
