<!-- HTML for observation item on the observation list -->

<template name="observationItem">
    <div class="observation" data-obs-id={{_id}}>
        <div class="single-env">
            <div class="level">
                <div class="level-left">
                    <h1 class="title is-3 env-name observation-name-wrapper"><span
                            class="observation-name">{{name}}</span>
                        <button id="edit-observation-name" class="button is-small spaced-button">Edit</button>
                    </h1>
                </div>
                <div class="level-right">
                    <button id="delete-obs-button" class="button is-medium spaced-button is-danger">Delete</button>
                </div>
            </div>
            <div class="columns">
                <div class="column">
                    <p>Created On: {{submitted}}</p>
                    <p>Last Modified: {{lastModified}} </p>
                </div>
            </div>
            <div class="columns">
                <div class="column">
                    <button class="enter-class button is-large enter-button">Perform Observation</button>
                </div>
                <div class="column">
                    <button id="view-edit-contributions" class="button is-large enter-button">View/Edit Contributions
                    </button>
                </div>
            </div>
        </div>
        <!-- MODAL FOR STUDENT PARAMS -->
        <div id="seq-param-modal" class="modal">
            <div class="modal-background"></div>
            <div id="param-modal-content" class="modal-content">

            </div>
            <button class="modal-close"></button>
        </div>

    </div>
    <button class="modal-close"></button>

    <!-- MODAL FOR TABLE OF STUDENTS -->
    <div id="seq-data-modal" class="modal">
        <div class="modal-background"></div>
        <div id="data-modal-content" class="modal-content"></div>
        <button class="modal-close"></button>
    </div>
</template>
