<!-- HTML for environment items in the environment list -->

<template name="environmentItem">
  <div class="single-env">
    <div class="level">
      <div class="level-left">
        <h1 class="title is-3 env-name">{{envName}}</h1>
      </div>
      <div class="level-right">
        <!-- Add in functionality for export later -->
        <!-- 12/31/2016 -->
        <button class="button is-medium export-tab">Export</button>
        <button class="button is-medium is-danger" id="env-delete">Delete</button>
      </div>
    </div>
    <div class="columns">
      <div class="column">
        <p>Created On: {{submitted}}</p>
<!--       </div>
      <div class="column"> -->
        <p>Last Modified: 
          {{#if trackModified}}
            {{lastModified}}
          {{else}}
           N/A
          {{/if}}
        </p>
      </div>
    </div>
    <div class="columns">
      <div class="column"></div>
      <div class="column">
        <button class="button is-large enter-button">Enter Classroom</button>

      </div>
      <div class="column">
        <button class="button is-large edit-button {{needsSubjects}}">Edit Parameters</button>
      </div>
      <div class="column"></div>
    </div>
  </div>    
</template>
