<!-- HTML for environment items in the environment list -->

<template name="environmentItem">
    <li class="environmentList">
        <!-- acccordion header -->
        <div class="toggle-accordion">
            {{getEnvName}}
            <div class="toggle-sub">
                <p id="analyze-button">Analyze</p>
                <p class="export-tab">Export</p>
                <p class="import-tab">Import</p>
                <p id="env-delete">Delete</p>
            </div>
        </div>
        <!-- accordion contents -->
        <ul class="inner-container">
            <li class="c--accordion-item">
                <div class="c--accordion-item__inner">
                    <h3 class="c--accordion-item__title">Demographics</h3>
                    <p class="c--accordion-item__edit" id="edit-class-params">Edit</p>
                </div>
                <div class="c--accordion-item__inner--labels">
                    <p class="demographic-labels">{{getSubjectParameters}}</p>
                </div>
            </li>
            <li class="c--accordion-item">
                <div class="c--accordion-item__inner">
                    <h3 class="c--accordion-item__title">Discource Dimensions</h3>
                    <p class="c--accordion-item__edit" id="edit-sequence-params">Edit</p>
                </div>
                <div class="c--accordion-item__inner--labels">
                    <p class="demographic-labels">{{getDiscourceParameters}}</p>
                </div>
            </li>
            <li class="c--accordion-item">
                <div class="c--accordion-item__inner">
                    <h3 class="c--accordion-item__title">Student Roster</h3>
                    <p class="c--accordion-item__edit" id="edit-class-studs">Edit</p>
                </div>
                <div class="c--accordion-item__inner--labels">
                    <p class="demographic-labels">{{getStudents}}</p>
                </div>
            </li>
            <li class="c--accordion-item">
                <div class="c--accordion-item__inner toggle-accordion toggle-nested">
                    <h3 class="c--accordion-item__title">Observations</h3>
                    <p class="c--accordion-item__edit" id="obs-create-button" data-id={{getEnvironmentId}}>Create New Observations</p>
                </div>
                <ul class="inner-container">
                    <li>
                        <div class="c--accordion-item__inner--observations">
                            {{#each observation in getObservations}}
                                <p id="enter-class" class="observation-labels" data-id={{observation._id}}>({{@index}}) {{observation.name}}</p>
                            {{/each}}
                        </div>
                    </li>
                </ul>
            </li>
        </ul>
  </li>
</template>
