<!-- HTML for the environment list -->

<template name="environmentList">
    <section class="c-dashboard__container--outer">
        <!-- DASHBOARD HEADER SECTION -->
        <div class="c-dashboard__container">
            <h1 class="c-dashboard__container--title">Dashboard</h1>
            <p class="c-dashboard__container--button u-header-links" id="env-create-button">Create New Classroom</p>
        </div>
        <!-- ACCORDION SECTION  -->
        <div class="c-dashboard__accordion--outer">
            <ul class="c-dashboard__accordion">
                {{#each environment.list}}
                  {{> environmentItem }}
                {{/each}}
            </ul>
        </div>
        <a href="{{pathFor 'helpFaq'}}">
            <div class="help-icon"></div>
        </a>
    </section>

    <div id="obs-create-modal" class="modal">
      <div class="modal-background"></div>
      <div class="modal-card">
        <header class="modal-card-head">
          <p class="modal-card-title">Create a New Observation</p>
          <button id="obs-close-modal" class="delete"></button>
        </header>
        <section class="modal-card-body">
          <label class="label">Observation Name</label>
            <p class="control">
              <input class="input" type="text" placeholder="E.g., 1/14/2017" id="observationName">
            </p>
        </section>
        <footer class="modal-card-foot">
          <a id="save-obs-name" class="button is-success">Save changes</a>
          <a class="button">Cancel</a>
        </footer>
      </div>
    </div>


    <!-- CREATE NEW CLASSROOM MODAL -->
    <div id="env-create-modal" class="modal">
      <div class="modal-background"></div>
      <div class="modal-card">
        <header class="modal-card-head">
          <p class="modal-card-title">Create New Classroom</p>
          <button id="env-close-modal" class="delete"></button>
        </header>
        <section class="modal-card-body">
          <label class="label">Classroom Name</label>
            <p class="control">
              <input class="input" type="text" placeholder="Type Name Here" id="environmentName">
            </p>
        </section>
        <footer class="modal-card-foot">
          <a id="save-env-name" class="button is-success">Save changes</a>
          <a class="button">Cancel</a>
        </footer>
      </div>
    </div>

    <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-80377470-1', 'auto');
    ga('send', 'pageview');
    </script>
</template>
