<template name="environmentSingle">
    <section class="c-dashboard__container--outer">
        <div class="c-dashboard__accordion--outer">
            <p>
                To view classrooms shared with you, <a href="{{pathFor route='groupsList'}}">take a look at your groups.</a>
            </p>
            <ul class="c-dashboard__accordion" data-expand-children="true">
                {{> environmentItem }}
            </ul>
        </div>
        <a href="{{pathFor 'help'}}">
            <div class="help-icon"></div>
        </a>
    </section>
</template>