<!-- HTML for the environment list -->

<template name="environmentList">
    <!-- DASHBOARD HEADER SECTION -->
    <div class="c-dashboard__container">
        <h1 class="c-dashboard__container--title">Dashboard</h1>
        <p class="c-dashboard__container--button u--header-links" id="env-create-button">Create New Classroom</p>
    </div>
    <section class="c-dashboard__container--outer">
        <!-- ACCORDION SECTION  -->
        <div class="c-dashboard__accordion--outer">
            <p>
                The Dashboard is where you setup new classrooms, and view existing
                classrooms and their details. Click “Create New Classroom” to
                get started. To view existing classroom details, click on your
                classroom’s name. For additional guidance, visit the <a href="./help"> help </a> page.
             </p>
            <p>
                Want to explore some example data before jumping into your own? <a class="generate-example-classroom" href="#">Generate an example classroom</a>.
             </p>

            <ul class="c-dashboard__accordion">
                {{#each environment.list}}
                  {{> environmentItem }}
                {{/each}}
            </ul>
        </div>
        <a href="{{pathFor 'help'}}">
            <div class="help-icon"></div>
        </a>
    </section>

    {{#if obsCreateModal}}
    <h1>Student!</h1>
    <div id="obs-create-modal" class="modal is-active" data-id="{{activeEnvId}}">
      <div class="modal-background"></div>
      <div class="modal-card">
        <header class="modal-card-head">
          <p class="modal-card-title">Create a New Observation</p>
          <button id="obs-close-modal" class="delete"></button>
        </header>
        <section class="modal-card-body">
          <label class="label">Observation Name</label>
            <p class="control">
              <input class="input" type="text" placeholder="E.g., Evening class, 01/01/2019" id="observationName">
            </p>
          <label class="label">Observation Date</label>
            <p class="control">
                <input class="input datepicker" type="text" value="{{currentUSDate}}" placeholder="01/01/2019" id="observationDate">
                <input type="hidden" value="{{currentISODate}}" id="altObservationDate">
            </p>
          <label class="label">Observation Type</label>
            <p class="control">
                <input name="classroom-type" type="radio" data-classroom-type="whole_class" id="type--whole-class" checked>
                <label for="type--whole-class">Whole Class</label>
                <input name="classroom-type" type="radio" data-classroom-type="small_group" id="type--small-group">
                <label for="type--small-group">Small Group</label>
            </p>
        </section>
        <footer class="modal-card-foot">
          <a id="save-obs-name" class="o--standard-button" style="margin-right: 10px;">Save changes</a>
          <a id="obs-close-modal" class="o--standard-button">Cancel</a>
        </footer>
      </div>
    </div>
    {{/if}}

    {{#if smallGroupStudentSelectActive}}
        <div id="obs-small-group-modal" class="modal is-active">
            <div class="modal-background"></div>
            <div class="modal-card">
                <header class="modal-card-head">
                    <p class="modal-card-title">Students select </p>
                    <!--<button id="obs-close-modal" class="delete"></button>-->
                </header>
                <section class="modal-card-body">
                    <div>Choose the students you want to include in this small group observation.</div>
                    <div class="subjects">
                        <div class="subjects-scroller">
                            {{#each subjects}}
                                <div id="{{_id}}" style='transform:translate({{transformStudentPosition data_x}}px, {{transformStudentPosition data_y}}px);' data-x="{{data_x}}" data-y="{{data_y}}" class="small-group-student c--observation__student-box-container">
                                    <p class="c--observation__student-box">{{info.name}}</p>
                                </div>
                            {{/each}}
                        </div>
                    </div>
                </section>
                <footer class="modal-card-foot">
                    <a id="save-small-group" class="o--standard-button" style="margin-right: 10px;">Save changes</a>
                    <a id="small-group-close-modal" class="o--standard-button">Cancel</a>
                </footer>
            </div>
        </div>
    {{/if}}

    {{#if absentStudentSelectActive}}
        <div id="obs-absent-modal" class="modal is-active">
            <div class="modal-background"></div>
            <div class="modal-card">
                <header class="modal-card-head">
                    <p class="modal-card-title">Absent students select</p>
                    <!--<button id="obs-close-modal" class="delete"></button>-->
                </header>
                <section class="modal-card-body">
                    <div>Choose the students you want to mark as absent.</div>
                    <div class="subjects">
                        <div class="subjects-scroller">
                            {{#each subjects}}
                                <div id="{{_id}}" style='transform:translate({{transformStudentPosition data_x}}px, {{transformStudentPosition data_y}}px);' data-x="{{data_x}}" data-y="{{data_y}}" class="class-absent-student c--observation__student-box-container">
                                    <p class="c--observation__student-box">{{info.name}}</p>
                                </div>
                            {{/each}}
                        </div>
                    </div>
                </section>
                <footer class="modal-card-foot">
                    <a id="save-absent-students" class="o--standard-button" style="margin-right: 10px;">Save</a>
                    <a id="absent-close-modal" class="o--standard-button">Cancel</a>
                </footer>
            </div>
        </div>
    {{/if}}

    <!-- CREATE NEW CLASSROOM MODAL -->
    <div id="env-create-modal" class="modal">
      <div class="modal-background"></div>
      <div class="modal-card">
        <header class="modal-card-head">
          <p class="modal-card-title">Create New Classroom</p>
          <button id="env-close-modal" class="delete"></button>
        </header>
        <section class="modal-card-body">
          <label class="label">Classroom Name</label>
            <p class="control">
              <input class="input" type="text" placeholder="Type Name Here" id="environmentName">
            </p>
        </section>
        <footer class="modal-card-foot">
          <a id="save-env-name" class="o--standard-button" style="margin-right: 10px;">Save changes</a>
          <a id="env-close-modal" class="o--standard-button">Cancel</a>
        </footer>
      </div>
    </div>

</template>
