<!-- HTML for environment items in the environment list -->

<template name="environmentItem">
    <li class="environmentList">
        <!-- acccordion header -->
        <div class="o--header-link toggle-accordion">
            <span>{{getEnvName}} <p class="carat"> &#9660;</p></span>
            <div class="toggle-sub">
                <p class="o--toggle-links" id="analyze-button">Analyze</p>
                <p class="o--toggle-links export-tab">Export</p>
                <p class="o--toggle-links import-tab">Import</p>
                <p class="o--toggle-links" id="env-delete">Delete</p>
            </div>
        </div>
        <!-- accordion contents -->
        <ul class="inner-container">
            <li class="c--accordion-item">
                <div class="c--accordion-item__inner">
                    <h3 class="c--accordion-item__title">Demographics</h3>
                    <p class="o--toggle-links c--accordion-item__edit" id="edit-class-params">
                        Edit <i style="color:gray;" class="far fa-question-circle c--accordion-item__icon"></i>
                    </p>
                </div>
                <div class="c--accordion-item__inner--labels">
                    <p class="demographic-labels">{{getSubjectParameters}}</p>
                </div>
            </li>
            <li class="c--accordion-item">
                <div class="c--accordion-item__inner">
                    <h3 class="c--accordion-item__title">Discource Dimensions</h3>
                    <p class="o--toggle-links c--accordion-item__edit" id="edit-sequence-params">
                        Edit <i style="color:gray;" class="far fa-question-circle c--accordion-item__icon"></i>
                    </p>
                </div>
                <div class="c--accordion-item__inner--labels">
                    <p class="demographic-labels">{{getDiscourceParameters}}</p>
                </div>
            </li>
            <li class="c--accordion-item">
                <div class="c--accordion-item__inner">
                    <h3 class="c--accordion-item__title">Student Roster</h3>
                    <p class="o--toggle-links c--accordion-item__edit" id="edit-class-studs">
                        Edit <i class="far fa-question-circle c--accordion-item__icon"></i>
                    </p>
                </div>
                <div class="c--accordion-item__inner--labels">
                    <p class="demographic-labels">{{getStudents.names}}</p>
                    <p class="c--accordion-item_inner--count">Students: {{getStudents.count}}</p>
                </div>
            </li>
            <li class="c--accordion-item">
                <div class="c--accordion-item__inner toggle-accordion toggle-nested" data-id={{getEnvironmentId}}>
                    <h3 class="o--header-link c--accordion-item__title-observation">Observations ({{getObservationsCount}}) <p class="carat" id="carat-obs"> &#9660;</p></h3>
                    <p class="o--toggle-links c--accordion-item__edit" id="obs-create-button" data-id={{getEnvironmentId}}>Create New Observations</p>
                </div>
                <ul class="inner-container">
                    <li>
                        <div class="c--accordion-item__inner--observations">
                            {{#each observation in getObservations}}
                                <p id="enter-class" class="observation-labels o--box-item" data-id={{observation._id}}>({{@index}}) {{observation.name}}</p>
                            {{/each}}

                            <p class="c--accordion-item_inner--count">Observations: {{getObservationsCount}}</p>
                        </div>
                    </li>
                </ul>
            </li>
        </ul>
  </li>
</template>
