<!-- HTML for the environment list -->

<template name="environmentList">
  <!-- <section class="section obs-dash-head">
    <h2 class="dash-head title is-2 is-pulled-left">Observation Dashboard</h2>
    <a class="button is-medium help-button is-pulled-right has-text-centered">Help!?</a>
  </section>
  <section class="section obs-dash-stats">
    <h1 class="stat-head title is-3">So Far You Have...</h1>
    <div class="columns dash-stats">
      <div class="column is-third has-text-centered">
        <span class="dash-stat">{{environment.num_env}}</span> Classrooms
      </div>
      <div class="column is-third has-text-centered">
        <span class="dash-stat">{{environment.num_students}}</span> Students
      </div>
      <div class="column is-third has-text-centered">
        <span class="dash-stat">{{environment.num_obs}}</span> Data Entries
      </div>
    </div>
  </section>
  <section class="section obs-dash-list">
    <div>
      <h2 class="dash-env-head title is-3">Your Classrooms</h2>
      <button id="env-create-button" class="button is-success is-medium">Create</button>
      <button id="analyze-button" class="button is-medium">Analyze Data</button>
    </div>
  </section>

  <div id="env-create-modal" class="modal">
    <div class="modal-background"></div>
    <div class="modal-card">
      <header class="modal-card-head">
        <p class="modal-card-title">Create New Classroom</p>
        <button id="env-close-modal" class="delete"></button>
      </header>
      <section class="modal-card-body">
        <label class="label">Classroom Name</label>
          <p class="control">
            <input class="input" type="text" placeholder="Type Name Here" id="environmentName">
          </p>
      </section>
      <footer class="modal-card-foot">
        <a id="save-env-name" class="button is-success">Save changes</a>
        <a class="button">Cancel</a>
      </footer>
    </div>
  </div>

   <div id="help-env-modal" class="modal">
    <div class="modal-background"></div>
    <div class="modal-card">
      <header class="modal-card-head">
        <p class="modal-card-title">How to Use Observation Dashboard</p>
        <button id="help-close-modal" class="delete"></button>
      </header>
      <section class="modal-card-body">
      The observation dashboard is where you can view and setup your classrooms. The first step is to click "create" to define a new classroom. To setup this classroom, there are three steps: (1) defining demographic parameters, (2) defining observation parameters, and (3) adding students to the classroom. The "edit parameters" button will allow you to setup demographics and observation parameters. The "edit students" button will allow you to add students to the class. Once you have defined your classroom, you can click "observation list" which will allow you to perform a new observation.
      </section>
      <footer class="modal-card-foot">
        <a class="button">Cancel</a>
      </footer>
    </div>
  </div>

  <section class="section env-list-container">
    <div class="columns is-multiline is-moble">
      <div class="column is-offset-1 is-three-quarters box">

        {{#each environment.list}}
          {{> environmentItem}}
        {{/each}}

      </div>
    </div>
  </section> -->

  <!-- Will want to add help modal later -->
    <section class="c-dashboard__container--outer">
        <!-- DASHBOARD HEADER SECTION -->
        <div class="c-dashboard__container">
            <h1 class="c-dashboard__container--title">Dashboard</h1>
            <p class="c-dashboard__container--button u-header-links" id="env-create-button">Create New Classroom</p>
        </div>
        <!-- ACCORDION SECTION  -->
        <div class="c-dashboard__accordion--outer">
            <ul class="c-dashboard__accordion">
                {{#each environment.list}}
                  {{> environmentItem}}
                {{/each}}
            </ul>
        </div>
    </section>




    <!-- CREATE NEW CLASSROOM MODAL -->
    <div id="env-create-modal" class="modal">
      <div class="modal-background"></div>
      <div class="modal-card">
        <header class="modal-card-head">
          <p class="modal-card-title">Create New Classroom</p>
          <button id="env-close-modal" class="delete"></button>
        </header>
        <section class="modal-card-body">
          <label class="label">Classroom Name</label>
            <p class="control">
              <input class="input" type="text" placeholder="Type Name Here" id="environmentName">
            </p>
        </section>
        <footer class="modal-card-foot">
          <a id="save-env-name" class="button is-success">Save changes</a>
          <a class="button">Cancel</a>
        </footer>
      </div>
    </div>

    <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-80377470-1', 'auto');
    ga('send', 'pageview');
    </script>
</template>
