<!-- HTML for the observatory -->

<template name="observatory">
  <section class="c--discourse-header__container">
      <h1 class="c--discourse-header__title">Live Observation</h1>
      <div class="c--discourse-header__links-container">
          <p class="u--header-links" id="show-all-observations">Contribution Log</p>
      </div>
  </section>

  <section class="c--observation-body__container observation" data-obs-id="{{observation._id}}">
      <div>
          <ul class="c--discourse-body__container-list-container">
              <a href="{{pathFor 'environmentList'}}">
                  <li class="c--discourse-body__container-list">Dashboard<span> &#62;</span></li>
              </a>
              <li class="c--discourse-body__container-list-current">{{environment.envName}} - Live Observation</li>
          </ul>
          <p>
              To add a contribution, click on the student's name. To edit or delete
              a contribution, click on the contribution log.
          </p>
      </div>
      <div class="columns c--observation-header__container">
        <h2 class="column c--observation-header__title observation-name-wrapper">
            <span class="observation-name">{{observation.name}}</span>
            <button id="edit-observation-name" class="button is-small spaced-button">Edit</button>
        </h2>
          <div class="toggle-sub">
            <p class="o--toggle-links" id="delete-observation">Delete</p>
          </div>
      </div>
      <div class="columns c--observation-front__container">
        <p class="column c--observation-front__title">Front Of Classroom</p>
      </div>
      <!-- @FUTURE: remove hide when feature is more defined. -->
      <div class="columns c--observation-toggle__container toggle-dash" style="display: none;">
        <h3 class="column c--observation-toggle__title">Toggles</h3>
      </div>
      <div class="subjects">
        {{#each subject}}
          <div id="{{_id}}" style='transform:translate({{data_x}}px, {{data_y}}px);' data-x="{{data_x}}" data-y="{{data_y}}" class="dragger c--observation__student-box-container">
            <p class="c--observation__student-box">{{info.name}}</p>
          </div>
        {{/each}}
      </div>
  </section>


  <!-- MODAL FOR SEQ PARAMS -->
  <div id="seq-param-modal" class="modal">
    <div class="modal-background"></div>
      <div id="param-modal-content" class="modal-content">

      </div>
      <button class="modal-close"></button>
  </div>


  <!-- MODAL FOR CONTRIBUTION LOG -->
  <div id="seq-data-modal" class="modal">
    <div class="modal-background"></div>
      <div id="data-modal-content" class="modal-content">
      </div>
      <button class="modal-close"></button>
  </div>

  <!-- HELP MODAL -->
  <div id="help-env-modal" class="modal">
    <div class="modal-background"></div>
    <div class="modal-card">
      <header class="modal-card-head">
        <p class="modal-card-title">How to Perform Observations</p>
        <button id="help-close-modal" class="delete"></button>
      </header>
      <section class="modal-card-body">
      This is your main observation interface for when you are in the classroom. Each time a student participates, you click on their name and fill out the characteristics of their contribution. By clicking on the "contribution log" you can see what you have already coded, and also edit your codes in case you made a mistake. Each toggle has a dropdown menu that allows you to change its current setting. Whatever value the toggle has will automatically be coded when you click on a student. The special toggle "contribution defaults" is an application setting. If you choose "blank," each time you click on a student you will start from scratch with coding. If you choose "Last Choice," whatever you coded last will already be highlighted.
      </section>
      <footer class="modal-card-foot">
        <a class="button">Cancel</a>
      </footer>
    </div>
  </div>

  <script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-80377470-1', 'auto');
  ga('send', 'pageview');
  </script>
</template>
