<template name="helpFaq">
    <section class="c-help-faq-header__container">
        <h1 class="c-help-faq-header__title">Help</h1>
    </section>
    <section class="c-help-faq-create__outer">
        <section class="c-help-faq-create__container">
            <div class="c-help-faq-create__image-container">
                <img class="c-help-faq-create__image" src="/refresh/icon-create.svg">
                <h3 class="c-help-faq-create__title">Create</h3>
            </div>
            <div class="c-help-faq-create__copy-container">
                <p class="c--help-faq-create__copy">Bacon ipsum dolor amet rump boudin turkey,
                    pig kevin meatball burgdoggen spare ribs chicken turducken swine tail hamburger t-bone.
                    Flank beef hamburger meatloaf pancetta fatback pork belly cupim pork rump meatball
                    pork chop ham filet mignon. Rump turducken pork cupim chuck porchetta pastrami
                    filet mignon drumstick buffalo kielbasa short loin alcatra ham hock swine.
                    Pork chop biltong jowl, turkey pancetta t-bone corned beef salami
                    tongue spare ribs porchetta pig capicola sausage.
                </p>
            </div>
            <div class="c-help-faq-grid__container">
                <div class="c-help-faq-grid__item">
                    <h3>Content One</h3>
                </div>
                <div class="c-help-faq-grid__item">
                    <h3>Content Two</h3>
                </div>
                <div class="c-help-faq-grid__item">
                    <h3>Content Three</h3>
                </div>
                <div class="c-help-faq-grid__item">
                    <h3>Content Four</h3>
                </div>
            </div>
        </section>

        <section class="c-help-faq-customize__container">
            <div class="c-help-faq-customize__image-container">
                <img class="c-help-faq-customize__image" src="/refresh/icon-customize.svg">
                <h3 class="c-help-faq-customize__title">Customize</h3>
            </div>
            <div class="c-help-faq-customize__copy-container">
                <p class="c--help-faq-customize__copy">Bacon ipsum dolor amet rump boudin turkey,
                    pig kevin meatball burgdoggen spare ribs chicken turducken swine tail hamburger t-bone.
                    Flank beef hamburger meatloaf pancetta fatback pork belly cupim pork rump meatball
                    pork chop ham filet mignon. Rump turducken pork cupim chuck porchetta pastrami
                    filet mignon drumstick buffalo kielbasa short loin alcatra ham hock swine.
                    Pork chop biltong jowl, turkey pancetta t-bone corned beef salami
                    tongue spare ribs porchetta pig capicola sausage.
                </p>
            </div>
            <div class="c-help-faq-grid__container">
                <div class="c-help-faq-grid__item">
                    <h3>Content One</h3>
                </div>
                <div class="c-help-faq-grid__item">
                    <h3>Content Two</h3>
                </div>
                <div class="c-help-faq-grid__item">
                    <h3>Content Three</h3>
                </div>
                <div class="c-help-faq-grid__item">
                    <h3>Content Four</h3>
                </div>
            </div>
        </section>

        <section class="c-help-faq-customize__container">
            <div class="c-help-faq-customize__image-container">
                <img class="c-help-faq-customize__image" src="/refresh/icon-observe.svg">
                <h3 class="c-help-faq-customize__title">Observe</h3>
            </div>
            <div class="c-help-faq-customize__copy-container">
                <p class="c--help-faq-customize__copy">Bacon ipsum dolor amet rump boudin turkey,
                    pig kevin meatball burgdoggen spare ribs chicken turducken swine tail hamburger t-bone.
                    Flank beef hamburger meatloaf pancetta fatback pork belly cupim pork rump meatball
                    pork chop ham filet mignon. Rump turducken pork cupim chuck porchetta pastrami
                    filet mignon drumstick buffalo kielbasa short loin alcatra ham hock swine.
                    Pork chop biltong jowl, turkey pancetta t-bone corned beef salami
                    tongue spare ribs porchetta pig capicola sausage.
                </p>
            </div>
            <div class="c-help-faq-grid__container">
                <div class="c-help-faq-grid__item">
                    <h3>Content One</h3>
                </div>
                <div class="c-help-faq-grid__item">
                    <h3>Content Two</h3>
                </div>
                <div class="c-help-faq-grid__item">
                    <h3>Content Three</h3>
                </div>
                <div class="c-help-faq-grid__item">
                    <h3>Content Four</h3>
                </div>
            </div>
        </section>

        <section class="c-help-faq-customize__container">
            <div class="c-help-faq-customize__image-container">
                <img class="c-help-faq-customize__image" src="/refresh/icon-analyze.svg">
                <h3 class="c-help-faq-customize__title">Analyze</h3>
            </div>
            <div class="c-help-faq-customize__copy-container">
                <p class="c--help-faq-customize__copy">Bacon ipsum dolor amet rump boudin turkey,
                    pig kevin meatball burgdoggen spare ribs chicken turducken swine tail hamburger t-bone.
                    Flank beef hamburger meatloaf pancetta fatback pork belly cupim pork rump meatball
                    pork chop ham filet mignon. Rump turducken pork cupim chuck porchetta pastrami
                    filet mignon drumstick buffalo kielbasa short loin alcatra ham hock swine.
                    Pork chop biltong jowl, turkey pancetta t-bone corned beef salami
                    tongue spare ribs porchetta pig capicola sausage.
                </p>
            </div>
            <div class="c-help-faq-grid__container">
                <div class="c-help-faq-grid__item">
                    <h3>Content One</h3>
                </div>
                <div class="c-help-faq-grid__item">
                    <h3>Content Two</h3>
                </div>
                <div class="c-help-faq-grid__item">
                    <h3>Content Three</h3>
                </div>
                <div class="c-help-faq-grid__item">
                    <h3>Content Four</h3>
                </div>
            </div>
        </section>

        {{#each accordion}}
          {{> helpAccordionItem }}
        {{/each}}

        <section>
            <h1>FAQ</h1>
            {{#each accordion}}
              {{> helpAccordionItem }}
            {{/each}}
        </section>

    </section>
</template>
