#edit-students-button {
    background: #009CFF;
    color: white;
}

#edit-params-button {
    background: #005288;
    color: white;
}

#show-all-observations {
    background: #FF8E00;
    color: white;
}

#data-modal-content {
    width: 90%;
    overflow: scroll;
    background-color: white;
    max-width: 960px;
    text-align: center;
}

.modal-content {
    font-size: 1.33em;
    overflow: scroll;
}

#view-edit-contributions {
    background: #005288;
    color: white;
}
