.c--view-data-header__container {
    display: inline-flex;
    width: 100%;
    justify-content: space-between;
    margin-top: var(--spacer-40);
    margin-bottom: 0px;
}

.c--view-data-header__title {
    font-size: 65px;
}

.c--view-data-header__links-container {
    display: inline-flex;
    align-items: center;
    margin-bottom: 0px;
}

.c--view-data-header__links {
    margin-right: var(--spacer-20);
    font-size: 24px !important;
}

.c--view-data__container {
    max-width: var(--max-inner-container-width);
    margin: 0 auto;
}

.c--view-data__container-title {
    font-family: 'Roboto Condensed', sans-serif;
    border-bottom: 1px solid var(--yellow);
    line-height: 30px;
    margin-bottom: 20px;
}

.classroom-selection {
    position: inherit !important;
    margin-right: 20px;
    margin-bottom: 20px;
    margin-left: 10px;
}

.option-selectors {
    position: inherit !important;
    margin-left: 10px;
    margin-right: 20px;
    margin-bottom: 20px;
}

.generate-button {
    margin: 60px auto;
}

.dparam-selection {
    flex-wrap: wrap;
}

.sparam-selection {
    flex-wrap: wrap;
}

.demo-plots {
    flex-wrap: wrap;
}

.contribution-plots {
    flex-wrap: wrap;
}

.ratio-plots {
    /*flex-wrap: wrap;*/
}

.individual-plots {
    flex-wrap: wrap;
}

.classroom-selection:hover {
    color: white;
    opacity: .5;
}

.report-head {
    margin-right: 1em;
}

.report-dash-head {
    border-bottom: 1px solid black;
}

.report-body {
    visibility: hidden;
}

.title.report-label-head {
    margin-bottom: 1em;
    font-family: "Roboto Slab";
}

.report-description {
    margin-bottom: .5em;
}

.arc text {
    font: 18px !important;
    text-anchor: middle;
    fill: black;
}

.arc path {
    stroke: #fff;
}

.axis .domain {
    display: none;
}

.single-bar {
    fill: steelblue;
}

.single-bar:hover {
    fill: brown;
}

.axis--x path {
    display: none;
}

.stat-head,
.stat-head:not(:last-child) {
    margin-top: .5em;
    margin-bottom: 0.5em;
    /*text-decoration: underline;*/
}

.plots {
    /*border-top: 1px solid black;*/
    /*padding: 2em;*/
    /*border-bottom: 1px dashed black;*/
    margin-bottom: 1em;
}

.ratio-plot > svg,
.plots > svg {
    /*margin: 10px;*/
    /*box-sizing: border-box;*/
    /*box-sizing: content-box;*/
    border: 1px dashed grey;
}

.report {
    max-width: 1240px;
    margin: 0 auto;
}

.report__section {
    page-break-after: always;
    page-break-before: always;
    margin-bottom: 4em;
}

.report__section-head {
    margin: 2em 0;
}

.report__section-body {
    margin: 1em 0;
}

.class-stats {
    margin-bottom: 1em;
    display: flex;
    flex-flow: row wrap;
}

.category-summary {
    margin-bottom: 1em;
    flex: 0 0 100%;
}

.category-list {
    flex: 0 1 250px;
    /*width: 25%;*/
    float: left;
    margin-bottom: 1em;
    height: 100%;
}

.single-stat {
    margin: 2px 0;
}

.demo-plots {
    display: flex;
    flex-flow: row wrap;
}

.demo-plots svg {
    flex: 1 1 300px;
    max-width: 400px;
    /*max-width: 50%;*/
    width: 100%;
    height: auto;
    margin: 0 auto;
    border: 0;

}

.vert-ind {
    position: absolute;
    top: 0px;
    left: 10px;
    margin: 0;
    z-index: 100000;
}

.individual-plots {
    position: relative;
    overflow: auto;
}

.ratio-plot {
    padding: 10px;
    margin: 0;
    display: inline-block;
    overflow: auto;
    max-width: 100%;
}

.print-only {
    display: none;
}

.print-report-header {
    width: 100%;
    /*background-color: #0a0a0a !important;*/
}

.equip-text {
    font-family: 'Fredericka the Great', cursive;
    color: white;
    color: black;
    font-size: 90px;
    line-height: 100px;
}
.beta-text-wrapper {
    position: relative;
    height: 100px;
}
.beta-text {
    position: absolute;
    left: -20px;
    bottom: 10px
}

.print-report-header .equip-hands {
    margin-left: 20px;
}

.report__section__column.print-only .report-label-head {
    margin-top: 8em;
}

.classroom-summary div {
    margin: 0;
}

.classroom-summary li {
    margin: 2px 0 2px 10px;
}

.report__section--columns {
    display: flex;
    flex-flow: row nowrap;
}

@media print {
    .print-only {
        display: block;
    }
    header, .c--view-data-header__container, footer {
        display: none !important;
    }
    @page {
        size: landscape;
    }

    .print-only {
        display: block;
    }
    .individual-plots {
        /*transform: scale(0.7);*/
        /*transform-origin: top left;*/
        zoom: 0.8;
        /*page-break-before: always;*/
    }
    .ratio-plots {
        zoom: 0.65;
    }

    .report__section--print-first-page .report__section__column:not(.print-only) {
        padding: 30px 0;
    }
}

.ratio-plot:nth-child(odd):not(:nth-child(1)) {
    page-break-before: always;
    position: relative;
}
