/* NEW STYLES */
.c--discourse-header__container {
    display: inline-flex;
    width: 100%;
    justify-content: space-between;
    margin-top: var(--spacer-40);
    margin-bottom: 0px;
}

.c--discourse-body__container-list-container {
    display: inline-flex;
}

.c--discourse-header__links-container {
    display: inline-flex;
    align-items: center;
    margin-bottom: 0px;
}

.c--discourse-body__container-list {
    font-family: 'Roboto';
    color: var(--orange);
    transition: color .4s;
}

.c--discourse-body__container-list:hover {
    color: var(--black);
}

.c--discourse-body__container-list-current {
    font-family: 'Roboto';
    color: var(--black);
}

.c--discourse-body__container-list span {
    color: var(--black);
    margin-right: var(--spacer-10);
}

.c--discourse-header__links {
    margin-right: var(--spacer-20);
}

.c--discourse-body__container {
    max-width: var(--max-inner-container-width);
    margin: 0 auto;
    position: relative;
    overflow-x: scroll;
}
