/*
* CSS for Nav bar
*/

#login-dropdown-list .login-close-text {
  color:black;
}

#login-dropdown-list {
  left: -50%;
}

.nav-wrap {
  background-color: #005288;
  font-family: 'Roboto Slab';
  color: white;
  font-size: 1.5em;
}

.n-item {
  margin: 1em .25em .5em .25em;
}

a.nav-wrap {
    color:white;
}

.nav-wrap a {
  color: white;
  padding: .25em .25em .25em .25em;
}


nav a:hover {
  background: #FF8E00;
  color: black;
}

