.c--landing-page__outer {
    max-width: var(--max-container-width);
    margin: 0 auto;
}

@media screen and (max-width: 780px) {
    .c--landing-page__logo {
        font-size: 60px;
    }
}

.c--landing-page__logo-container {
    margin-top: var(--spacer-40);
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 0px;
}


.c--landing-page__main-container {
    width: 100%;
    height: auto;
    display: flex;
    flex-flow: row wrap;
}


.c--landing-page__main-container--left {
    background: url("refresh/classroom-top@2x.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 50%;
    /*height: 605px;*/
    min-height: 300px;
    flex: 1 1 300px;
    margin: 0;
    /*max-height: 50vw;*/
}

.c--landing-page__main-container--right {
    background-color: var(--black);
    color: var(--white);
    width: 50%;
    /*height: 605px;*/
    flex: 1 1 500px;
    margin: 0;
}

.c--landing-page__main-container--right p {
    padding: 100px 50px;
    font-size: 20px;
    line-height: 160%;
    color: var(--white);
}

@media screen and (max-width: 1215px){
    .c--landing-page__main-container--right p {
        font-size: 20px;
        padding: 50px 50px;
    }
}

.c--landing-page__c2a-container {
    display: flex;
    justify-content: center;
    width: 100%;
    flex-flow: row wrap;
}

.c--landing-page__c2a-learn-more-button.o--standard-button,
.c--landing-page__c2a-sign-in-button.o--standard-button {
    flex: 1 1 170px;
    margin: 10px 20px;
    max-width: 200px;
    height: auto;
    width: auto;
    padding: 10px 10px;
}

.c--landing-page__c2a-learn-more-link {
    color: var(--white);
    transition: color .4s !important;
}

.c--landing-page__c2a-learn-more-link:hover {
    color: var(--black);
}

.c--landing-page__get-started-title {
    text-align: center;
    font-size: 60px;
    line-height: 1.2em;
    margin: 0 0 30px;
}
@media screen and (max-width: 780px) {
    .c--landing-page__get-started-title {
        font-size: 40px;
    }
}

.c--landing-page__get-started-outer {
    width: 100vw;
    margin-bottom: 80px;
    position: relative;
    left: 50%;
    margin-left: -50vw;

}

.c--landing-page__get-started {
    width: 100%;
    max-width: var(--max-container-width);
    margin: 0 auto;
}

.c--landing-page__get-started-inner {
    display: flex;
    width: 100%;
    margin-bottom: 0px;
    background-color: var(--teal);
    flex-flow: row-reverse wrap;
}

.c--landing-page__get-started-left {
    width: 50%;
    margin: 40px 50px;
    /*height: 605px;*/
    flex: 1 1 500px;
}

.c--landing-page__get-started-right {
    width: 50%;
    background: url("refresh/classroom-bottom@2x.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    margin-bottom: 0px;

    background-position: center;
    /*height: 605px;*/
    min-height: 300px;
    flex: 1 0 300px;
    margin: 0;

}

.c--landing-page__get-started-left-content {
    color: var(--white);
    width: 90%;
}

.c--landing-page__faq-outer {
    max-width: 1000px;
    margin: 0 auto;
    margin-bottom: 40px;
}

.c--landing-page__faq-inner {
    display: flex;
    flex-flow: row wrap;
    width: 100%;
    justify-content: space-around;
    margin-bottom: 0;
}

.c--landing-page__faq-title {
    text-transform: uppercase;
    text-align: center;
}

.c--landing-page__faq-item {
    /*width: 30%;*/
    flex: 1 1 300px;
    padding: 1em;
    margin: 0;

}

.c--landing-page__faq-item-top {
    background-color: var(--orange);
    padding: 20px;
    margin-bottom: 0px;
    min-height: 215px;
}

.c--landing-page__faq-item-top-content {
    text-transform: capitalize;
    color: var(--white);
}

.c--landing-page__faq-item-top-link {
    color: var(--black);
    border-bottom: 1px solid;
    padding-bottom: 1px;
    font-family: 'Roboto Condensed', sans-serif;
    text-transform: uppercase;
    font-size: 14px;
    letter-spacing: .1em;
    font-weight: 700;
}

.c--landing-page__faq-item-top-link:hover {
    color: var(--white);
}

.c--landing-page__faq-item-top-publication {
    color: var(--teal);
    text-align: left;
    font-family: 'Roboto Condensed', sans-serif;
    text-transform: uppercase;
    font-size: 14px;
    letter-spacing: .1em;
    padding-left: 20px;
    font-weight: 700;
}

.c--landing__faq-item-bottom {
    background-color: var(--black);
    text-transform: uppercase;
    margin: 0;
}
