.c--landing-page__outer {
    max-width: var(--max-container-width);
    margin: 0 auto;
}

.c--landing-page__main-container {
    width: 100%;
    height: auto;
    display: inline-flex;
}

.c--landing-page__logo-container {
    margin-top: var(--spacer-40);
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 0px;
}

.c--landing-page__main-container--left {
    background: url("refresh/classroom-top@2x.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    width: 50%;
    height: 605px;
}

.c--landing-page__main-container--right {
    background-color: var(--black);
    color: var(--white);
    width: 50%;
    height: 605px;
}

.c--landing-page__main-container--right p {
    padding: 30px 30px;
    font-size: 27px;
    line-height: 200%;
    color: var(--white);
}

.c--landing-page__c2a-container {
    display: inline-flex;
    justify-content: center;
    width: 100%;
}

.c--landing-page__c2a-learn-more-button,
.c--landing-page__c2a-sign-in-button {
    margin-left: 20px;
    margin-right: 20px;
}

.c--landing-page__c2a-learn-more-link {
    color: var(--white);
    transition: color .4s !important;
}

.c--landing-page__c2a-learn-more-link:hover {
    color: var(--black);
}

.c--landing-page__get-started-title {
    text-align: center;
}

.c--landing-page__get-started-outer {
    width: 100%;
    background-color: var(--teal);
    margin-bottom: 80px;
}

.c--landing-page__get-started {
    width: 100%;
    max-width: var(--max-container-width);
    margin: 0 auto;
}

.c--landing-page__get-started-inner {
    display: inline-flex;
    width: 100%;
    margin-bottom: 0px;
}

.c--landing-page__get-started-left {
    width: 50%;
    margin: 40px 0px;
    margin-left: 20px;
}

.c--landing-page__get-started-right {
    width: 50%;
    background: url("refresh/classroom-bottom@2x.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    margin-bottom: 0px;
}

.c--landing-page__get-started-left-content {
    color: var(--white);
    width: 90%;
}

.c--landing-page__get-started-left-list-container {
    margin-left: 50px;
}

.c--landing-page__faq-outer {
    max-width: 900px;
    margin: 0 auto;
    margin-bottom: 40px;
}

.c--landing-page__faq-inner {
    display: inline-flex;
    width: 100%;
    justify-content: space-around;
}

.c--landing-page__faq-title {
    text-transform: uppercase;
    text-align: center;
}

.c--landing-page__faq-item {
    width: 30%;
}

.c--landing-page__faq-item-top {
    background-color: var(--orange);
    padding: 20px;
    margin-bottom: 0px;
}

.c--landing-page__faq-item-top-content {
    color: var(--white);
}

.c--landing-page__faq-item-top-date {
    font-weight: 700;
}

.c--landing-page__faq-item-top-publication {
    color: var(--white);
    text-align: center;
}

.c--landing__faq-item-bottom {
    background-color: var(--black);
    text-transform: uppercase;
}
