/* Global Element Styling */
:root {
    /* COLORS */
    --white: #fff;
    --black: #000;
    --teal: #34C4C4;
    --light-gray: #f2f2f2;
    --gray: gray;
    --light-teal: #C9EFEF;
    --orange: #F25F3D;
    --yellow: #C3BF94;
    --background-color: #FCFCF7;
    /* CONTAINER WIDTH */
    --max-container-width: 1215px;
    --max-outer-container-width: 1185px;;
    --max-inner-container-width: 960px;
    /* SPACERS */
    --spacer-40: 40px; /* divs & sections */
    --spacer-30: 30px;
    --spacer-20: 20px; /* li */
    --spacer-10: 10px;
    --spacer-5: 5px;
}

body {
    background-color: var(--background-color);
}

h1 {
    font-family: 'Fredericka the Great', cursive;
    /*font-family: 'Crimson Text', cursive;*/
    font-size: 100px;
    color: var(--black);
    line-height: 200%;
}

h2 {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 30px;
    line-height: 180%;
    color: var(--teal);
}

h3 {
    font-family: 'Roboto', sans-serif;
    font-size: 24px;
    line-height: 180%;
    color: var(--teal);
}

h4 {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 21px;
    line-height: 180%;
    color: var(--teal);
}

h5 {
    font-family: 'Fredericka the Great', cursive;
    /*font-family: 'Crimson Text', cursive;*/
    font-size: 32px;
    text-transform: uppercase;
    color: var(--black);
}

p {
    font-family: 'Roboto', sans-serif;
    font-size: 21px;
    line-height: 180%;
    color: var(--black);
}

section, div {
    margin-bottom: var(--spacer-40);
}

ul {
    list-style-type: none;
}

li {
    margin: var(--spacer-20) 0;
}

#main {
    margin: 0 auto;
    max-width: var(--max-container-width);
}

/*  Helper Utilities  */

.u--header-links {
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: bold;
    font-size: 30px;
    color: var(--orange);
    cursor: pointer;
    text-transform: uppercase;
    text-decoration: none;
    transition: color .4s;
    margin-top: 25px;
}

.u--header-links:hover {
    color: var(--black);
}

.hide {
    display: none;
}

.u--bold {
    font-weight: bold;
}

.u--margin-zero-auto {
    margin: 0 auto;
}

/*  Object Components  */

.o--standard-button {
    margin-bottom: 0px;
    font-family: 'Roboto Condensed', sans-serif !important;
    font-size: 30px !important;
    display: flex;
    width: 300px;
    height: 70px;
    align-items: center;
    justify-content: center;
    background-color: var(--orange) !important;
    text-transform: uppercase;
    border-radius: 0 !important;
    border: 0 !important;
    color: var(--white) !important;
    transition: color .4s !important;
    cursor: pointer;
}

.o--standard-button:hover {
    color: var(--black) !important;
}

.o--header-link {
    font-family: 'Roboto', sans-serif;
    font-size: 30px;
    color: var(--white);
    background-color: var(--black);
    cursor: pointer;
}

.o--toggle-links {
    font-family: 'Roboto Condensed', sans-serif;
    color: var(--orange);
    font-weight: 700;
    font-size: 16px;
    text-transform: uppercase;
    cursor: pointer;
    transition: color .4s;
}

.o--toggle-links:hover {
    color: var(--white);
}

.o--form-labels {
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 700;
    color: var(--teal);
    font-size: 16px;
}

.o--form-input {
    appearance: none;
    -webkit-appearance: none;
    height: 40px;
    margin-bottom: var(--spacer-20);
    padding-left: 15px;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    color: var(--black);
    width: 100%;
    border: 1px solid #d2d2d2;
}

.o--modal-label {
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 14px;
}

.o--box-container {
    display: flex;
    align-items: center;
    justify-content: left;
    padding-left: 20px;
    width: 200px;
    height: 50px;
    text-align: center;
    position: absolute;
    background-color: var(--light-gray)
}

.o--box {
    font-family: 'Roboto Condensed', sans-serif;
    word-wrap: break-word;
    max-height: 50px;
    overflow: hidden;
    color: var(--orange);
    cursor: pointer;
}

.o--box:hover {
    color: var(--black);
}

.o--box-item {
    background-color: var(--light-gray);
    color: var(--orange);
    cursor: pointer;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.o--required-star {
    color: var(--orange);
}

.help-icon {
    background-image: url("/refresh/help-btn.svg");
    background-image: url("refresh/help-btn.svg");
    height: 100px;
    width: 100px;
    position: fixed;
    top: 85%;
    right: 5%;
}

/*  @TODO OLD STYLES THAT NEED TO REMOVED */
.alert-custom-info {
    padding: 8px 0px 8px 0px;
    margin-bottom: 18px;
    max-width: 250px;
    color: #31708f;
    background-color: #d9edf7;
    border-color: #bce8f1;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    text-align: center;
}

.modal-dialog{
    position: relative;
    display: table;
    overflow: scroll;
    width: auto;
    min-width: 600px;
    max-width: 100%;
    max-height: 100%;
}

.alert-custom-sequence-params{
    padding: 8px 35px 8px 14px;
    width: 57%;
    margin-bottom: 18px;
    color: #31708f;
    background-color: #d9edf7;
    border-color: #bce8f1;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}

.alert-custom-viewData {
    padding: 8px 35px 8px 14px;
    width: 35%;
    margin-bottom: 5px;
    color: #31708f;
    background-color: #d9edf7;
    border-color: #bce8f1;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}

.alert-custom-viewDataGraphOptions{
    padding: 3px 35px 3px 14px;
    width: 23%;
    margin-top: 10px;
    margin-bottom: 3px;
    color: #31708f;
    background-color: #d9edf7;
    border-color: #bce8f1;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}

.alert-custom-envItem{
    padding: 8px 35px 8px 14px;
    width: 57%;
    margin-bottom: 18px;
    color: #31708f;
    background-color: #d9edf7;
    border-color: black;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}

.alert-custom-obsItem{
    padding: 8px 35px 8px 14px;
    width: 66%;
    margin-bottom: 18px;
    color: #3c763d;
    background-color: #dff0d8;
    border-color: #d0e9c6;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}

.alert-custom-edit-subj-params{
    padding: 8px 35px 8px 14px;
    width: 25%;
    margin-bottom: 18px;
    color: #3c763d;
    background-color: #dff0d8;
    border-color: #d0e9c6;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}

.alert-custom-obsInfo{
    padding: 8px 35px 8px 14px;
    width: 67%;
    margin-bottom: 18px;
    color: #31708f;
    background-color: #d9edf7;
    border-color: #bce8f1;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}

#spinner {
  height: 300px;
}

.post {
  /* For modern browsers */
  /* For IE 6/7 (trigger hasLayout) */
  *zoom: 1;
  position: relative;
  opacity: 1; }
  .post:before, .post:after {
    content: "";
    display: table; }
  .post:after {
    clear: both; }
  .post.invisible {
    opacity: 0; }
  .post.instant {
    -webkit-transition: none;
    -moz-transition: none;
    -o-transition: none;
    transition: none; }
  .post.animate{
    -webkit-transition: all 300ms 0ms;
    -moz-transition: all 300ms 0ms ease-in;
    -o-transition: all 300ms 0ms ease-in;
    transition: all 300ms 0ms ease-in; }
  .post .upvote {
    display: block;
    margin: 7px 12px 0 0;
    float: left; }
  .post .post-content {
    float: left; }
    .post .post-content h3 {
      margin: 0;
      line-height: 1.4;
      font-size: 18px; }
      .post .post-content h3 a {
        display: inline-block;
        margin-right: 5px; }
      .post .post-content h3 span {
        font-weight: normal;
        font-size: 14px;
        display: inline-block;
        color: #aaaaaa; }
    .post .post-content p {
      margin: 0; }
  .post .discuss {
    display: block;
    float: right;
    margin-top: 7px; }

.comments {
  list-style-type: none;
  margin: 0; }
  .comments li h4 {
    font-size: 16px;
    margin: 0; }
    .comments li h4 .date {
      font-size: 12px;
      font-weight: normal; }
    .comments li h4 a {
      font-size: 12px; }
  .comments li p:last-child {
    margin-bottom: 0; }

.dropdown-menu span {
  display: block;
  padding: 3px 20px;
  clear: both;
  line-height: 20px;
  color: #bbb;
  white-space: nowrap; }

.load-more {
  display: block;
  border-radius: 3px;
  background: rgba(0, 0, 0, 0.05);
  text-align: center;
  height: 60px;
  line-height: 60px;
  margin-bottom: 10px; }
  .load-more:hover {
    text-decoration: none;
    background: rgba(0, 0, 0, 0.1); }

.posts .spinner-container{
  position: relative;
  height: 100px;
}

.jumbotron{
  text-align: center;
}
.jumbotron h2{
  font-size: 60px;
  font-weight: 100;
}

@-webkit-keyframes fadeOut {
  0% {opacity: 0;}
  10% {opacity: 1;}
  90% {opacity: 1;}
  100% {opacity: 0;}
}

@keyframes fadeOut {
  0% {opacity: 0;}
  10% {opacity: 1;}
  90% {opacity: 1;}
  100% {opacity: 0;}
}

.errors{
  position: fixed;
  z-index: 10000;
  padding: 10px;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  pointer-events: none;
}
.alert {
          animation: fadeOut 2700ms ease-in 0s 1 forwards;
  -webkit-animation: fadeOut 2700ms ease-in 0s 1 forwards;
     -moz-animation: fadeOut 2700ms ease-in 0s 1 forwards;
  width: 250px;
  float: right;
  clear: both;
  margin-bottom: 5px;
  pointer-events: auto;
}

#toast-container > div {
    opacity: 1 !important;
    -webkit-box-shadow: none !important;
    -moz-box-shadow: none !important;
    box-shadow: none !important;
}

.toast-title, .toast-message {
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 18px !important;
}

.toast-success {
    background-color: var(--teal);
}

#toolTip {
    display: none;
    position: absolute;
    background-color: #ffffff;
    box-shadow: 0px 1px 3px 2px rgba(0,0,0,0.3);
    border-radius: 3px;
    min-width: 150px;
    min-height: 44px;
    font-size: 16px;
    color: black;
    text-align: center;
    padding: 10px;
    pointer-events: none;
}

.modal-content {
  background-color: white;
  padding: 20px 30px;
}
.modal-card-body {
    margin-bottom: 0px;
}

.inherit-font-size {
    font-size: inherit;
    font-weight: inherit;
}

.spaced-button {
    margin: 8px 10px;
}

.spaced-checkbox {
    margin-right: 10px;
}

.login-form {
    max-width: 500px;
    padding: 20px 20px;
    margin: 60px auto;
    background: white;
}



.at-input {
    position: relative;
}

.at-input.validating * {
    cursor: auto;
}

/*.at-input.validating input {*/
    /*cursor: default;*/
/*}*/

.login-form input ~ svg {
    display: inline-block;
    position: absolute;
    right: 10px;
    top: 33px;
}

.login-form .login-buttons {
    margin: -20px -20px 0;
    padding: 20px;
    display: flex;
}

.login-form .login-buttons a {
    flex: 1 1 200px;
    text-align: center;
    color: var(--orange);
    font-size: 20px;
    font-family: 'Roboto Condensed', sans-serif;
    text-transform: uppercase;
}

.login-form input ~ svg:not(:last-of-type) {
    display: none;
    /* this is super hacky, but there's a bug with the login that causes
     validation to fire every time you unfocus a field, adding a new icon every time
     without removing the previous one.*/
}

.login-form input {
    display: block;
    padding: 8px 12px;
    box-sizing: border-box;
    width: 100%;
    max-width: 100%;
}


.login-form button[type="submit"] {
    padding: 8px 12px;
    background-color: var(--orange);
    border: 0;

    font-family: 'Roboto Condensed', sans-serif !important;
    font-size: 24px;
    display: flex;
    width: 300px;
    cursor: pointer;
    margin: 0 auto;
    color: white;
    /*height: 30px;*/
    align-items: center;
    justify-content: center;
    text-transform: uppercase;

}