.dragger {
  min-width: 5em;
  min-height: 5em;
  max-width: 5em;
  max-width: 5em;
  margin: 1em;

  background-color: #29e;
  color: white;
  text-align: center;
  font-size: 1.25em;

  border-radius: 0.75em;
  padding: .5em;
  display: inline-block;
  flex: 1;
  position: absolute;

 /* -webkit-transform: translate(0px, 0px);
          transform: translate(0px, 0px);*/
}

.subjects {
  display: flex;
  position: relative;
  height: 1000px;
  overflow-x: scroll;
}

.boxes-wrapper {
  max-width: 960px;
  margin: 0 auto;
  padding-bottom: 20px;
}

.subj-box-labels {
  background: #009CFF;
  margin: .5em;
  color: white;
  -webkit-transition:all .2s linear;
  transition:all .2s linear;
}

.subj-drop-labels {
  color: white;
}

.subj-box-params {
  background: #f2f2f2;
  color: #F25F3D;
  margin: .25em;
  -webkit-transition:all .2s linear;
  transition:all .2s linear;
}

#param-modal-content {
  width: 95%;
  max-width: 1215px;
  background-color: #fff;
  overflow: scroll;
}

#param-modal-content {
  width: 95%;
  overflow: scroll;
}

.chosen {
  background: #FF8e00;
}

.hoverable:hover {
  -ms-transform:scale(1.2);
  -webkit-transform:scale(1.2);
  transform:scale(1.2);
  margin-bottom: 0px;
}

.delete-subject {
  color: white;
  background: red;
  text-align: center;
}

.delete-subject:hover {
  opacity: .5;
}

.drag-label {
  word-wrap: break-word;
  max-height: 50px;
  overflow: hidden;
}

#export-students {
    background: #005288;
    color: white;
}

#save-locations{
  background: #009CFF;
  color: white;
}


/* NEW STYLES */

.c--modal-student-header {
    border-bottom: 1px solid lightgray;
    margin-bottom: 20px;
}

.c--modal-student-input {
    -webkit-appearance: none;
    appearance: none;
    width: 100%;
    height: 50px;
    margin-bottom: 20px;
    background-color: #f2f2f2;
    border: 0;
    padding-left: 15px;
    font-size: 16px;
}

.c--modal-student-options-container {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.button-container {
    margin: 0 auto;
    text-align: center;
    margin-bottom: 20px;
}
