<template name="aboutPage">
    <section class="c--about-header__container">
        <h1 class="c--about-header__title">About EQUIP</h1>
    </section>

    <div class="c--about-main__inner">
        <section class="c--about-info__container">
            <p class="c--about-info__content">
                EQUIP (<b>E</b>quity <b>QU</b>antified <b>I</b>n <b>P</b>articipation) was created in a joint and
                equal effort by Dr. Daniel Reinholz and Dr. Niral Shah. We believe that
                teaching is hard, complex work, and that teachers deserve support.
                Our vision is that EQUIP will empower teachers, professional developers,
                and researchers to build more equitable classrooms for more students.
                <b>If you care about equity in schools, EQUIP was made for you.</b>
            </p>
        </section>

        <section class="c--about-bio__container">
            <div class="c--about-bio__image c--bio-image__niral"></div>
            <article class="c--about-bio__inner">
                <h3 class="c--about-bio__header"> Dr. Niral Shah</h3>
                <p class="c--about-bio__title">Dr. Shah is a researcher, teacher educator, and former public school
                   teacher. His research focuses on understanding inequity at the classroom
                   level and supporting teachers to make their classrooms more equitable,
                   with an emphasis on racial equity and implicit bias. Dr. Shah’s research
                   has been funded by the National Science Foundation, Spencer Foundation,
                   and the National Academy of Education.
                </p>
            </article>
        </section>
        <p>
            Dr. Shah holds a B.S. in Economics and a B.A.S. in Computer Science
            from the University of Pennsylvania, and an M.A. and Ph.D. in Education
            from the University of California, Berkeley. Currently, Dr. Shah is an
            Assistant Professor in the Department of Teacher Education at Michigan
            State University. As a high school teacher, he taught math at a
            racially diverse high school in Northern California, and is originally
            from the Chicago area where he grew up a diehard Chicago Cubs fan.
        </p>

        <section class="c--about-bio__container">
            <div class="c--about-bio__image c--bio-image__daniel"></div>
            <article class="c--about-bio__inner">
                <h3 class="c--about-bio__header">Dr. Daniel Reinholz</h3>
                <p class="c--about-bio__title">
                    Dr. Reinholz is a researcher and educational designer, holding
                    a teaching credential in secondary mathematics. His research
                    focuses on educational transformation, with the aim of increasing
                    equity in STEM fields. Dr. Reinholz has been funded by the National
                    Science Foundation and Institute of Education Sciences.
                </p>
            </article>
        </section>
        <p>
            Dr. Reinholz holds a B.S. in Electrical Engineering and an M.S. in
            Mathematics from Colorado State University, and a Ph.D. in Education
            from the University of California, Berkeley. Currently, Dr. Reinholz
            is an Assistant Professor in the Department of Mathematics and Statistics
            at San Diego State University. Apart from working to promote educational
            equity, Dr. Reinholz is an avid musician (playing drums and piano), and
            has performed with a number of bands.
        </p>
    </div>

    <section class="c--about-research__container">
        <h3 class="c--about-research__title">Research</h3>
        <p class="c--about-research__content">
            Reinholz, D., & Shah, N. (2018). Equity analytics: A methodological
            approach for quantifying participation patterns in
            mathematics classroom discourse. <i>Journal for Research
            in Mathematics Education, 49(2), </i> 140-177.
        </p>
        <p class="c--about-research__content">
            Shah, N., & Crespo, S. (2017). Cultural narratives and status
            hierarchies. In R. Hunter, M. Civil, B. Herbel-Eisenmann, N.
            Planas, & D. Wagner (Eds.), <i>Mathematical discourse that breaks
            barriers and creates space for marginalized learners </i>(pp. 23-38).
            Rotterdam: Sense Publishers.
        </p>
        <p class="c--about-research__content">Shah, N., Reinholz, D., Guzman,
            L., Bradfield, K., Beaudine, G., & Low, S. (2016). Equitable
            participation in a mathematics classroom from a quantitative
            perspective. In M. B. Wood, E. Turner, & M. Civil (Eds.), <i>Sin
            fronteras: Questioning borders with(in) mathematics education
            - Proceedings of the 38th annual meeting of the North-American
            Chapter of the International Group for the Psychology of Mathematics
             Education (PME-NA)</i> (pp. 1259-1265). Tuscon, AZ: University of Arizona.
         </p>
    </section>

    <section class="c--about-development__container">
        <h3 class="c--about-development__title">Development</h3>
        <p class="c--about-development__content">EQUIP Beta was developed by <a class="c--about-development__link" href="http://www.82birds.com/" target="_blank"> 82 Birds</a>.</p>
        <p class="c--about-development__content"> Development of EQUIP Alpha was led by Dr. Michael Skirpan, with the support of Conner Simmering and Justin Olson, at the University of Colorado at Boulder.</p>
        <p class="c--about-development__content" style="margin-top: 20px;">Help icons made by
            <a class="c--about-development__link" href="https://www.flaticon.com/authors/zlatko-najdenovski" target="_blank">
                zlatko-najdenovski
            </a>
                from
            <a class="c--about-development__link" href="https://www.flaticon.com/" target="_blank">www.flaticon.com.</a>
        </p>
        <section class="c--about-footer__container">
            <div class="c--about-footer__item">
                <img src="refresh/logo-nsf@2x.png" class="c--about-footer__image"/>
            </div>
            <div class="c--about-footer__item">
                <img src="refresh/logo-spencer@2x.png" class="c--about-footer__image"/>
            </div>
            <div class="c--about-footer__item">
                <img src="refresh/logo-mi-stem@2x.png" class="c--about-footer__image"/>
            </div>
            <div class="c--about-footer__item">
                <img src="refresh/logo-co@2x.png" class="c--about-footer__image"/>
            </div>
        </section>
        <section class="c--about-footer__content-inner">
            <p class="c--about-footer__content">National Science Foundation</p>
            <p class="c--about-footer__content">Spencer Foundation</p>
            <p class="c--about-footer__content">CREATE for STEM Institute at Michigan State University</p>
            <p class="c--about-footer__content">University of Colorado, Boulder</p>
        </section>
    </section>
</template>
