<template name="aboutPage">
  
<!-- Placeholder for now based on landing page template
Will want "Researcher Team", "Development Team", FAQ -->
  <section class="section land-1">
    <div class="columns">
      <div class="column is-12 has-text-centered">
        <h1 class="has-centered-text title is-1">EQUIP is...</h1>
      </div>
    </div>
    <div class="columns">
      <div class="column is-offset-2 is-9 container">
        <p class="about-text">Equity QUantified in Participation, a tool for tracking quantitative patterns in classroom discourse. In a joint and equal effort, Dr. Reinholz and Dr. Shah are working together to create a freely available web app that researchers and practitioners can use to study and improve equity in the classroom.</p>
      </div>
    </div>
  </section>
  <section class="section land-2">
    <div class="columns">
      <div class="column has-text-centered">
        <h1 class="title is-1">Research Team</h1>
      </div>
    </div>
    <div class="columns">
      <div class="column is-3 is-offset-1">
          <figure class="column image staff">
            <img src="Niral.jpeg" />
          </figure>
      </div>
      <div class="column is-half">
        <h2 class="title is-4">Niral Shah</h2>
	<p>Niral is an <a href="https://education.msu.edu/search/Formview.aspx?email=niral%40msu.edu">assistant professor</a> at Michigan State University. Niral studies race and implicit bias in STEM education. His research highlights the impact of racial narratives and perceptions of status on classroom interactions and learning.</p>
      </div>
    </div>
    <div class="columns">
      <div class="column is-3 is-offset-1">
          <figure class="column image staff">
            <img src="DReinholz.jpg" />
          </figure>
      </div>
      <div class="column is-half">
        <h2 class="title is-4">Daniel Reinholz</h2>
	<p>Daniel is an <a href="https://newscenter.sdsu.edu/education/crmse/daniel_reinholz.aspx">assistant professor</a> at San Diego State University. Daniel studies STEM education transformation, with the aim of increasing equity in STEM fields. His research draws upon organizational theory as a tool to create sustainable changes within academic departments.</p>
      </div>
    </div>
  </section>
  <section class="section land-3">
    <div class="columns">
      <div class="column is-10 is-offset-1 has-text-centered">
        <h1 class="title is-1">Development Team</h1>
      </div>
    </div>
    <div class="columns">
      <div class="column is-2 is-offset-1">
          <figure class="column image staff">
            <img src="mike.jpg" />
          </figure>
      </div>
      <div class="column is-half">
        <h2 class="title is-4">Michael Skirpan</h2>
	<p>Mike is a <a href="http://mwskirpan.com/">PhD Candidate</a> at CU Boulder. Mike supported the development of EQUIP Beta.</p>
      </div>
    </div>
    <div class="has-text-centered">
	    <p class="about-text">EQUIP <a href="https://github.com/simmeringc/dataObs">Alpha</a> was developed by Conner Simmering and Justin Olson, supported by <a href="http://tomyeh.info/">Tom Yeh's Sikuli Lab</a>.</p>
    </div>
  </section>
  <section class="section land-4">
    <div class="column is-10 is-offset-1 has-text-centered">
        <h1 class="title is-1">FAQ</h1>
        <p class="about-text">Answers to commonly-asked questions can be found on <a href="https://drive.google.com/open?id=1f3heIpkimM_dzBcsSQSnuYAakIH1MUogESE8sk-ZhUc">this public Google Document</a></p>
    </div>
  </section>

  <section class="section land-2">
      <div class="column is-10 is-offset-1 has-text-centered">
        <h1 class="title is-1">Research</h1>
        <p>
	<ul>	
		<li>Reinholz, D. L. &nbsp; Shah, N. (2017) EQUIP-ing teachers to address issues of classroom equity. Paper presented at the Annual Meeting of the American Education Research Association, San Antonio, TX. </li><br>
		<li>Shah, N., Reinholz, D. L., Guzman, L., Bradfield, K., &nbsp; Low, S. (2016). Equitable participation in a mathematics classroom from a quantitative perspective. In M. B. Wood, E. Turner, &nbsp; M. Civil (Eds.), Sin fronteras: Questioning borders with(in) mathematics education - Proceedings of the 38th annual meeting of the North-American Chapter of the International Group for the Psychology of Mathematics Education (PME-NA) (pp. 1259-1265). Tuscon, AZ: University of Arizona.</li><br>
		<li>Shah, N., Reinholz, D. L., Guzman, L., Bradfield, K., &nbsp; Fernandes, J. A. (2016). Analyzing equity in whole-class discussions in mathematics classrooms. Paper presented at the annual meeting of the American Educational Research Association, Washington, D.C.	</li>
	</ul>
	</p>	
    </div>
  </section>

    <section class="section land-3">
    <div class="column is-10 is-offset-1 has-text-centered">
        <h1 class="title is-1">Funding</h1>
        <p class="about-text">
	EQUIP Beta was developed with support from <a href="http://www.wcer.wisc.edu/About/Project/1113">NSF (A3IMS, DRK-12 Award #147672)</a>. EQUIP Alpha was developed with support from <a href="http://tomyeh.info/">Tom Yeh's Sikuli Lab</a>, <a href="http://www.colorado.edu/assett/">ASSETT</a>, and the <a href="http://www.colorado.edu/csl/">Center for STEM Learning</a> at CU-Boulder.
	
	</p>
    </div>
    </section>


<script>
(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
})(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

ga('create', 'UA-80377470-1', 'auto');
ga('send', 'pageview');
</script>
</template>
