<template name="aboutPage">
  
<!-- Placeholder for now based on landing page template
Will want "Researcher Team", "Development Team", FAQ -->
  <section class="section land-1">
    <div class="columns">
      <div class="column is-12 has-text-centered">
        <h1 class="has-centered-text title is-1">About EQUIP</h1>
      </div>
    </div>
    <div class="columns">
      <div class="column is-offset-2 is-9 container">
        <p class="about-text">EQUIP is...</p>
      </div>
    </div>
  </section>
  <section class="section land-2">
    <div class="columns">
      <div class="column has-text-centered">
        <h1 class="title is-1">Research Team</h1>
      </div>
    </div>
    <div class="columns">
      <div class="column is-3 is-offset-1">
          <figure class="column image staff">
            <img src="Niral.jpeg" />
          </figure>
      </div>
      <div class="column is-half">
        <h2 class="title is-4">Niral Shah</h2>
          <p>Niral is a researcher at Michigan State University...</p>
      </div>
    </div>
    <div class="columns">
      <div class="column is-3 is-offset-1">
          <figure class="column image staff">
            <img src="DReinholz.jpg" />
          </figure>
      </div>
      <div class="column is-half">
        <h2 class="title is-4">Daniel Reinholz</h2>
          <p>Dan is an associate professor at San Diego State University...</p>
      </div>
    </div>
  </section>
  <section class="section land-3">
    <div class="columns">
      <div class="column is-10 is-offset-1 has-text-centered">
        <h1 class="title is-1">Development Team</h1>
      </div>
    </div>
    <div class="columns">
      <div class="column is-2 is-offset-1">
          <figure class="column image staff">
            <img src="mike.jpg" />
          </figure>
      </div>
      <div class="column is-half">
        <h2 class="title is-4">Michael Skirpan</h2>
          <p>Mike is a PhD Candidate at CU Boulder..</p>
      </div>
    </div>
    <div class="has-text-centered">
      <p class="about-text">Development was further supported by <a href="http://tomyeh.info/">Tom Yeh's Sikuli Lab</a>. The original prototype was made by Conner Simmering and Justin Olson and their source code can be found <a href="https://github.com/simmeringc/dataObs">here</a></p>
    </div>
  </section>
  <section class="section land-4">
    <div class="column is-10 is-offset-1 has-text-centered">
        <h1 class="title is-1">FAQ</h1>
        <p class="about-text">We will continue to answer questions about the use of this app on <a href="">this public Google Doc</a></p>
    </div>
  </section>

<script>
(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
})(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

ga('create', 'UA-80377470-1', 'auto');
ga('send', 'pageview');
</script>
</template>