<template name="research">
    <h2 class="page__heading">Research</h2>
    <section class="page__section section">
        <h4 class="section__title"></h4>
        <div class="section__content">
            {{#each category in researchContentCategorized}}
                <h3 class="research__category-name">{{category.category_name}}</h3>
                {{#each researchItem in category.children}}
                    <div class="research">
                        <h4 class="research__title"><span
                                class="research__citation">{{researchItem.researchCitation}}</span> {{researchItem.researchTitle}}</h4>
                        {{#if researchItem.researchDescription}}<div class="research__content">{{researchItem.researchDescription}}</div>{{/if}}
                        {{#if researchItem.researchLink}}<a class="research__read" href="{{researchItem.researchLink}}">Read More ></a>{{/if}}
                    </div>
                {{/each}}
            {{/each}}
            <div class="research">
                <h4 class="research__title"><span class="research__authors">Earnest, J. B., Reinholz, D., & Shah, N. (accepted w/minor revisions).</span>
                    Hidden competence: Women’s mathematical participation in public and private classroom spaces. To
                    appear in Educational Studies in Mathematics.</h4>
                <!--<div class="research__content"></div>-->
                <!--<a class="research__read" href="#">Read More ></a>-->
            </div>
            <div class="research">
                <h4 class="research__title"><span
                        class="research__authors">Herbel-Eisenmann, B. & Shah, N. (2019).</span> Detecting and reducing
                    bias in questioning patterns. Mathematics Teaching in the Middle School.</h4>
                <div class="research__content">This article explores teaching practices described in NCTM’s Principles
                    to Actions: Ensuring Mathematical Success for All. Investigating and mitigating implicit bias in
                    questions are discussed in this article, which is another installment in the series.
                </div>
                <a class="research__read"
                   href="https://www.jstor.org/stable/10.5951/mathteacmiddscho.24.5.0282?seq=1#page_scan_tab_contents">Read
                    More ></a>
            </div>
            <div class="research">
                <h4 class="research__title"><span class="research__authors">Reinholz, D. L., Brad field, K., & Apkarian, N. (2019).</span>
                    Using analytics to support instructor reflection on undergraduate mathematics instruction. The
                    International Journal of Research in Undergraduate Mathematics Education.</h4>
                <div class="research__content">This paper describes a method for using instructional analytics to
                    support changes in teaching practice. The study took place in a discourse-focused undergraduate
                    mathematics classroom taught by an experienced instructor. Using the classroom observation tool
                    EQUIP and social network surveys, we generated quantitative data on patterns of student
                    participation in this classroom that were presented to the instructor at the end of the semester.
                    Our analysis focuses on how the instructor made sense of these analytics and ultimately changed his
                    teaching practices in a future semester. This paper provides insight into how three data sources can
                    be triangulated—classroom participation, student experiences, and teacher perspective—to better
                    understand discourse-based participation in undergraduate mathematics. We also discuss the
                    implications of using this methodology for faculty professional development.
                </div>
                <a class="research__read" href="https://doi.org/10.1007/s40753-019-00084-7">Read More ></a>
            </div>
            <div class="research">
                <h4 class="research__title"><span class="research__authors">Smith, J., Andrews-Larson, C., Reinholz, D. L., Stone-Johnstone, A., & Mullins, B. (2019).</span>
                    Examined Inquiry-Oriented Instructional Moves with an Eye Toward Gender Equity. Proceedings of the
                    2019 Conference on Research in Undergraduate Mathematics Education. Oklahoma City, OK.</h4>
                <!--<div class="research__content">ABSTRACT</div>-->
                <!--<a class="research__read" href="LINK">Read More ></a>-->
            </div>
            <div class="research">
                <h4 class="research__title"><span class="research__authors">Stone-Johnstone, A., Reinholz, D. L., Mullins, B., Smith, J., & Andrews-Larson, C., (2019).</span>
                    Inquiry without Equity: A Case Study of Two Undergraduate Math Classes. Proceedings of the 2019
                    Conference on Research in Undergraduate Mathematics Education. Oklahoma City, OK.</h4>
                <!--<div class="research__content">ABSTRACT</div>-->
                <!--<a class="research__read" href="LINK">Read More ></a>-->
            </div>
            <div class="research">
                <h4 class="research__title"><span class="research__authors">Reinholz, D. L., & Shah, N. (2018).</span>
                    Equity analytics: A methodological approach for quantifying participation patterns in mathematics
                    classroom discourse. Journal for Research in Mathematics Education, 49(2), 140-177.</h4>
                <div class="research__content">Equity in mathematics classroom discourse is a pressing concern, but
                    analyzing issues of equity using observational tools remains a challenge. In this article, the
                    authors propose equity analytics as a quantitative approach to analyzing aspects of equity and
                    inequity in classrooms. They introduce a classroom observation tool that focuses on relatively
                    low-inference dimensions of classroom discourse, which are cross-tabulated with demographic markers
                    (e.g., gender, race) to identify patterns of more and less equitable participation within and across
                    lessons.
                </div>
                <a class="research__read"
                   href="https://www.jstor.org/stable/10.5951/jresematheduc.49.2.0140?seq=1#page_scan_tab_contents">Read
                    More ></a>
            </div>
            <div class="research">
                <h4 class="research__title"><span class="research__authors">Shah, N., & Crespo, S. (2017).</span>
                    Cultural narratives and status hierarchies. In R. Hunter, M. Civil, B. Herbel-Eisenmann, N. Planas,
                    & D. Wagner (Eds.), Mathematical discourse that breaks barriers and creates space for marginalized
                    learners (pp. 23-38). Rotterdam: Sense Publishers.</h4>
                <!--<div class="research__content">ABSTRACT</div>-->
                <a class="research__read" href="https://brill.com/view/book/edcoll/9789463512121/BP000007.xml">Read More
                    ></a>
            </div>
            <div class="research">
                <h4 class="research__title"><span class="research__authors">Shah, N., Reinholz, D. L., Guzman, L., Bradfield, K., Beaudine, G. & Low, S. (2016).</span>
                    Equitable participation in a mathematics classroom from a quantitative perspective. In M. Wood, E.
                    Turner, & M. Civil (Eds.), Sin fronteras: Questioning borders with(in) mathematics education -
                    Proceedings of the 38th annual meeting of the North-American Chapter of the International Group for
                    the Psychology of Mathematics Education (PME-NA). (pp. 1259-1265). Tuscon, AZ: University of
                    Arizona.</h4>
                <div class="research__content">Inequity is a pressing concern in the mathematics education community.
                    Recent research shows how inequity in everyday classroom interaction can shape student participation
                    in subtle ways. This paper focuses on a tool, EQUIP, which uses a quantitative approach to
                    illuminate aspects of such inequities. EQUIP cross-tabulates relatively low-inference indicators of
                    classroom interaction with demographics (e.g., gender, race), in order to highlight inequities in
                    participation across different groups of students in a given classroom. We present analyses of
                    whole-class discussions in an elementary mathematics classroom taught by an experienced teacher with
                    strong commitments to equity. Findings show that even though in most ways participation was
                    distributed equally by gender and race, an intersectional analysis revealed statistically
                    significant inequities for Latin@ male student participation
                </div>
                <a class="research__read" href="https://files.eric.ed.gov/fulltext/ED583796.pdf">Read More (pdf) ></a>
            </div>
        </div>
    </section>
</template>
