.c-dashboard__container--outer {
  max-width: var(--max-outer-container-width);
  margin: 0 auto;
  padding-top: 20px;
}

.c-dashboard__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: var(--spacer-40);
  margin-bottom: 0px;
}


.c--student-header__title {
  font-size: 65px;
}

.c-dashboard__container--title {
  font-size: 65px;
  margin-bottom: 0px;
}

.c-dashboard__accordion--outer {
  max-width: var(--max-inner-container-width);
  margin: 0 auto;
}

.inner-container {
  max-width: var(--max-inner-container-width);
  padding-left: 1em;
  overflow: hidden;
  display: none;
  background-color: var(--white);
}

.toggle-accordion {
  display: inline-flex;
  text-transform: capitalize;
  width: 100%;
  height: 50px;
  align-items: center;
  justify-content: space-between;
  padding-left: 15px;
  margin-bottom: 0px;
}

.toggle-nested {
  background-color: var(--light-teal);
}

.toggle-sub {
  display: inline-flex;
  margin-bottom: 0px;
}

.toggle-sub p {
  padding-right: 15px;
}

#carat-obs {
  color: #F25F3D;
  padding-top: 4px;
}

.carat {
  color: white;
  float: right;
  font-size: 10px;
  position: relative;
  top: 10px;
  left: 7px;
}

.carat-show {
  transform: rotate(180deg);
  top: 7px;
}

.shared-badge {
  font-size: 12px;
  background: white;
  color: #333;
  border-radius: 2px;
  padding: 3px 4px;
  display: inline-block;
  transform: translateY(-5px);
}

.c--accordion-item {
  display: block;
  width: 100%;
  margin: 0 auto;
  text-align: center;
}

.c--accordion-item-label-inner {
  display: block;
  text-align: left;
  position: relative;
  top: 25px;
  left: 22px;
  margin: 0;
}

.c--accordion-item-label {
  text-transform: uppercase;
  color: var(--teal);
  opacity: .6;
  font-size: 14px;
}

.c--accordion-item__inner {
  margin: 20px 0;
  display: inline-flex;
  width: 95%;
  border-bottom: 1px solid var(--yellow);
  justify-content: space-between;
  align-items: center;
}

.c--accordion-item__edit-container {
  display: inline-flex;
  align-items: center;
  margin: 0;
}

.c--accordion-item__icon {
  color: var(--gray);
  margin-left: var(--spacer-10);
}

.icon-container .tooltiptext {
  visibility: hidden;
  width: 240px;
  background-color: var(--teal);
  color: var(--white);
  text-align: left;
  border-radius: 3px;
  padding: 5px 10px;
  position: absolute;
  z-index: 1;
  left: 76%;
  margin-top: 35px;
}

.icon-container:hover .tooltiptext {
  visibility: visible;
}

.c--accordion-item__create-new-classroom {
  padding-right: 10px;
}

.c--accordion-item__edit:hover {
  color: var(--black) !important;
}

.c--accordion-item__inner--labels {
  display: inline-flex;
  flex-flow: column;
  width: 95%;
  margin-bottom: 30px;
}

.c--accordion-item__inner--observations {
  display: flex;
  flex-flow: column;
  flex-wrap: wrap;
  padding-left: 20px;
  max-height: 600px;
}

.demographic-labels, .discourse-labels, .subject-labels {
  width: 80%;
  text-align: left;
}

.c--accordion-item_inner--count {
  text-align: left;
  font-size: 14px;
  font-family: 'Roboto Condensed', sans-serif;
}

.c--accordion-item_guide {
  text-align: left;
  font-size: 14px;
  font-family: 'Roboto Condensed', sans-serif;
  font-weight: 400;
  margin-top: 20px;
  margin-left: 30px;
}

.observation-labels {
  width: 20%;
  height: 30px;
  text-align: left;
  margin-bottom: 20px;
  padding-left: 5px;
  font-size: 14px;
  font-family: 'Roboto Condensed';
}

.c--modal-header-container {
  display: flex;
  height: 60px;
  justify-content: center;
  align-items: center;
  background-color: #000;
  margin-bottom: 20px;
}

.c--modal-header-title {
  color: white;
  letter-spacing: .4px;
  font-weight: normal;
}

.c--accordion-item__title-observation {
  color: var(--teal) !important;
  background-color: var(--light-teal) !important;
  font-weight: 700;
  font-size: 24px !important;
}
