/*
* CSS for Nav bar
*/

#login-dropdown-list .login-close-text {
  color: black;
}

#login-dropdown-list {
  left: -50%;
}

#forgot-password-link {
  color: black;
}

#signup-link {
  color: black;
}

#login-buttons .login-button, .accounts-dialog .login-button {
  background: #4893cf;
}

#login-buttons:hover .login-button:hover, .accounts-dialog:hover .login-button:hover {
  background: #FF8E00;
}

.nav-wrap {
  background-color: #005288;
  font-family: 'Roboto Slab';
  color: white;
  font-size: 1.5em;
}

.n-item {
  margin: 1em .25em .5em .25em;
}

a.nav-wrap {
  color: white;
  text-decoration: none;
}

.nav-wrap a {
  color: white;
  padding: .25em .25em .25em .25em;
}


nav a:hover {
  background: #FF8E00;
  color: black;
  text-decoration: none;
}

nav a:focus {
  text-decoration: none;
}
