/*.dash-head {
    text-decoration: underline;
}

.help-button {
    background: #f68e1f;
    font-size: 2em;
    color: white;
}

.help-button:hover {
    opacity: .5;
}

.stat-head {
    margin-left: 1em;
}

.dash-stats {
    font-size: 1.75em;
}

.dash-stat {
    font-style: bold;
    font-size: 2em;
}

.obs-dash-list {
    box-shadow: 2px;
}


.obs-dash-stats {
    border-bottom: 1px solid black;
}

#analyze-button {
    margin-left: 1em;
    background: #4893cf;
    color: white;
}

#env-create-modal {
    font-family: 'Source Sans Pro';
}

#env-create-modal label{
    color: black;
    font-size: 1em;
}

.dash-env-head {
    display: inline;
    margin-right: 1.5em;
    margin-left: 2em;
}

.single-env {
    margin-top: .25em;
    padding-bottom: 1em;
    border-bottom: 1px solid black;
}

.single-env:last-child {
    border-bottom: none;
}

.spaced-button {
    margin-left: 0.5em;
    margin-right: 0.5em;
}

.spaced-checkbox {
    margin: 0.5em 0.5em 0 0;
}

.is-vertical-spaced {
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}

.is-horizontal-spaced {
    margin-left: 0.5em;
    margin-right: 0.5em;
}

.is-right-spaced {
    margin-right: 0.5em;
}

.export-tab {
    background: #4893cf ;
    color: white;
    margin-right: 1em;
}

.import-tab {
    background: #23d160 ;
    color: white;
    margin-right: 1em;
}

.edit-button {
    background: #005288;
    color: white;
}

.form-submit {
    margin-top: 1em;
}

.edit-button:hover {
    color:white;
    opacity: .5;
}

.enter-button {
    background: #B26300;
    color: white;
}

.enter-button:hover {
    color: white;
    opacity: .5;
}

.stud-edit-button {
    background: #f68e1f;
    color: white;
}

.stud-edit-button:hover{
    opacity: .5;
    color: white;
}

@-webkit-keyframes Pulse {
  from { opacity: 1; }
  50% { opacity: .66; }
  to { background-color: .33;}
}

.pulser {
  -webkit-animation-name: Pulse;
  -webkit-animation-duration: 2s;
  -webkit-animation-iteration-count: infinite;
  color: white;
}*/
