/* NEW STYLES */
.c--student-header__container {
    display: inline-flex;
    width: 100%;
    justify-content: space-between;
    margin-top: var(--spacer-40);
    margin-bottom: 0px;
}

.c--student-body__container-list-container {
    display: inline-flex;
}

.c--student-header__links-container {
    display: inline-flex;
    align-items: center;
    margin-bottom: 0px;
}

.c--student-body__container-list {
    font-family: 'Roboto';
    color: var(--orange);
    transition: color .4s;
}

.c--student-body__container-list:hover {
    color: var(--black);
}

.c--student-body__container-list-current {
    font-family: 'Roboto';
    color: var(--black);
}

.c--student-body__container-list span {
    color: var(--black);
    margin-right: var(--spacer-10);
}

.c--student-header__links {
    margin-right: var(--spacer-20);
}

.c--student-body__container {
    display: flex;
    position: relative;
    overflow-x: auto;
}

.drag-bounding-box {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

.subjects {
    border: 1px solid rgba(0,0,0,0.3);
    height: 1200px;
    padding: 12px 25px;
}

.c--student-body__wrapper {
    max-width: var(--max-inner-container-width);
    margin: 0 auto;
}


.c--modal-student-header {
    border-bottom: 1px solid #C3BF94;
    margin-bottom: 20px;
}

.c--modal-student-header, .c--modal-student-header p {
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 18px;
    font-weight: bold;
}

.c--modal-student-input {
    -webkit-appearance: none;
    appearance: none;
    width: 100%;
    height: 50px;
    margin-bottom: 20px;
    background-color: #f2f2f2;
    border: 0;
    padding-left: 15px;
    font-size: 20px;
}

.c--modal-student-options-container {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.c--student-body__container-drag-area {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 220px;
  height: 50px;
  text-align: center;
  position: absolute;
  background-color: #898989;
  transition: 1s cubic-bezier(0, 2.5, 1, -1.5) background-color;
}

.just-added {
    background-color: #7fa989;
}

.c--student-body__container-drag-label {
    color: var(--white);
}

.modal {
    margin: 0
}

/* TODO: CLEAN UP OLD STYLES */
.boxes-wrapper {
  max-width: 960px;
  margin: 0 auto;
  padding-bottom: 20px;
}

.subj-box-labels {
  background: #009CFF;
  margin: .5em;
  color: white;
  -webkit-transition:all .2s linear;
  transition:all .2s linear;
}

.subj-drop-labels {
  color: white;
}

.subj-box-params {
  font-family: 'Roboto Condensed', sans-serif;
  font-weight: 500;
  background: #f2f2f2;
  color: #F25F3D;
  margin: .25em;
  -webkit-transition:all .2s linear;
  transition:all .2s linear;
  cursor: pointer;
}

#param-modal-content {
  width: 95%;
  max-width: 1215px;
  background-color: #fff;
  overflow: scroll;
}

#param-modal-content {
  width: 95%;
  overflow: scroll;
}

.chosen {
  background: rgba(52,196,196, .2);
  color: #34C4C4;
  font-weight: bold;
}

.delete-subject {
  color: white;
  background: red;
  text-align: center;
}

.delete-subject:hover {
  opacity: .5;
}

#export-students {
    background: #005288;
    color: white;
}

.button-container {
    margin: 0 auto;
    text-align: center;
    margin-bottom: 20px;
}

.toast div {
    margin: 0;
}


.student {
    transition: 0.25s ease box-shadow;
    transition-property: transform, box-shadow;
}

.student.dragging {
    z-index: 2;
    box-shadow: 0px 1px 5px 2px rgba(0,0,0,0.3);
}