<template name="groupManage">
    <div class="page--group">
        <h3>Group {{>groupNameEditable group=group}} settings</h3>
        {{> memberAddForm group=group}}
        <details>
            <summary>
                Role explanation:
            </summary>
            <br/><strong>Admin:</strong> Can add new group members, change permissions of all members, including adding other group managers.
            <br/><strong>Manage:</strong> Can add new group members, change permissions of all members without the manage or admin roles, but can't promote other users past edit. Can remove users from the group, as long as they don't have the admin or manage roles. Can remove any classroom from the group.
            <br/><strong>Edit:</strong> Can edit any classroom shared with the group, as long as the classroom was shared with the edit permissions.
            <br/><strong>View:</strong> Can view any classroom shared with the group. Can share their own classrooms with the group, and un-share them.
        </details>
        <table>
            <thead>
            <tr>
                <td rowspan="2">Name</td>
                <td colspan="3">Roles</td>
                <td rowspan="2">Actions</td>
            </tr>
            <tr>
                <td>Manage group</td>
                <td>Edit all</td>
                <td>View only</td>
            </tr>

            </thead>
            <tbody>
            {{#each member in members}}
                <tr>
                    <td>{{getUserName member}}</td>
                    <td>{{> memberPermissionCheckbox member=member group=group checkboxtype='manage'}}</td>
                    <td>{{> memberPermissionCheckbox member=member group=group checkboxtype='edit'}}</td>
                    <td>{{> memberPermissionCheckbox member=member group=group checkboxtype='view'}}</td>
                    <td>
                        {{#if memberRemovalAllowed member group}}
                            {{> memberRemoveButton group=group member=member}}
                        {{/if}}
                    </td>
                </tr>
            {{/each}}
            </tbody>
        </table>
    </div>
</template>

<template name="memberPermissionCheckbox">
    <input type="checkbox" class="permission-checkbox" id="{{member.userId}}__{{checkboxtype}}" data-user-id="{{member.userId}}" data-role="manage" {{getGroupMembershipChecked member checkboxtype}} {{getGroupMembershipCheckDisabled member checkboxtype}}>
</template>

<template name="userAutocompleteOption">
    <span class="label" data-user-id="{{_id}}">{{username}}</span>
</template>

<template name="noAutocompleteAvailable">
    {{#if searchTextLengthCheck getText }}
        No matches
    {{else}}
        Min. 3 characters to search
    {{/if}}
</template>

<template name="memberRemoveButton">
    <button class="member-remove-button" data-member-id="{{member.userId}}">Remove</button>
</template>

<template name="memberAddForm">
    <form class="member-add-form autocomplete-form">
        <label for="member-add-form">Add user</label>
        {{> inputAutocomplete settings=settings id="member-add-form" class="member-add-form__input" placeholder="Type a name..."}}
        <!--<input class="member-add-form__input" id="member-add-form">-->
        <button class="member-add-form__submit">Add</button>
    </form>
</template>

<template name="groupNameEditable">
    <span class="group__name group__name--editable">
    {{#if editing}}
        <form class="group__name__edit-form"><input class="group__name__edit-field" title="group name" type="text" value="{{group.groupName}}"><input type="submit" value="save"></form>
    {{else}}
        {{group.groupName}}<button class="group__name--start-edit">Edit</button>
    {{/if}}
    </span>
</template>

