<!-- HTML for the edit subjects page -->

<template name="siteStatsTime">
    <div class="basic-container">
        <h2>Site stats</h2>
        <div class="stat-loader__wrapper" style="{{#if statsLoaded }}display: none;{{/if}}">
            <div class="stat-loader">Data loaded. Processing <span class="num-stats-loaded">0</span> of {{totalNumStats}} statistics...</div>
            <div class="stat-loader">Data loaded. Processing statistics. This may take up to 30-60 seconds.</div>
        </div>
        <div class="stats-container stats-container--graphs">

        </div>
        <div class="stats-container stats-container--text">

        </div>

    </div>
</template>
