<template name="press">
    <h2 class="page__heading">EQUIP in the News</h2>
    <section class="page__section section">
        <h3 class="section__title"></h3>
        <div class="section__content">
            {{#each pressItem in pressContent}}
                <div class="press">
                    <div class="press__logo">
                        {{#if pressItem.pressImage}}
                        <img src="/press_images/{{pressItem.pressImage}}" alt="{{pressItem.pressPublication}}"/>
                        {{/if}}
                    </div>
                    <div class="press__info">
                        <h4 class="press__title">
                            <span class="press__tag">{{pressItem.pressCategorization}}</span>
                            <span class="press__title">{{pressItem.pressTitle}}</span>
                        </h4>
                        <div class="press__date">{{pressItem.pressDateDisplay}}</div>
                        <div class="press__content">{{pressItem.pressDescription}}
                        </div>
                        {{#if pressItem.pressEmbed}}
                            <div class="press__podcast-embed">
                                {{{pressItem.pressEmbed}}}
                            </div>
                        {{/if}}
                        {{#if pressItem.pressLink}}<a class="research__read" href="{{pressItem.pressLink}}">{{#if
                                pressItem.pressLinkText}}{{pressItem.pressLinkText}}{{else}}
                            Read More{{/if}} ></a>{{/if}}
                    </div>
                </div>
            {{/each}}

            <h3 class="page__heading"> --- Static Content Below --- </h3>


            <div class="press">
                <div class="press__logo">
                    <img src="/news_logos/calstate_logo.png"/>
                </div>
                <div class="press__info">
                    <h4 class="press__title">
                        <span class="press__tag">WEBCAST</span>
                        <span class="press__title">Introducing EQUIP: A Free Web App to Promote Equitable Teaching in Math/QR Classrooms</span>
                    </h4>
                    <div class="press__date">April 24, 2019</div>
                    <div class="press__content">Dr. Daniel Reinholz, Assistant Professor of Mathematics Education at San
                        Diego State University, presents EQUIP (Equity Quantified in Participation), a web app tool that
                        tracks student engagement in an effort to help teachers be more intentional when eliciting
                        participation and responding to student ideas.
                    </div>
                    <div class="press__podcast-embed">
                        <iframe width="560" height="315" src="https://www.youtube-nocookie.com/embed/9YkFxi1xOCU"
                                frameborder="0"
                                allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                                allowfullscreen></iframe>
                    </div>
                    <a class="research__read"
                       href="https://www2.calstate.edu/csu-system/why-the-csu-matters/graduation-initiative-2025/academic-preparation/professional-development/Pages/professional-development-archive.aspx#">Read
                        More (see April 2019) ></a>
                </div>
            </div>
            <div class="press">
                <div class="press__logo">
                    <img src="/news_logos/ams_logo.png"/>
                </div>
                <div class="press__info">
                    <h4 class="press__title">
                        <span class="press__tag">BLOG</span>
                        <span class="press__title">Moving from what and how to who: Using instructional analytics to create an inclusive mathematics classroom</span>
                    </h4>
                    <div class="press__date">February 27, 2019</div>
                    <div class="press__content">As mathematicians, we think deeply about what mathematics we want to
                        share with our students. We think about all of the beautiful aspects of the discipline that they
                        might be interested in. As mathematics educators, we also think about how to help our students
                        learn these ideas. We do our best to develop meaningful activities that can engage our students
                        in the deep work of really doing mathematics.
                    </div>
                    <a class="research__read"
                       href="https://blogs.ams.org/inclusionexclusion/2019/02/27/inclusive-instructional-analytics/">Read
                        More ></a>
                </div>
            </div>
            <div class="press">
                <div class="press__logo">
                    <img src="/news_logos/KPBS_RGB.png"/>
                </div>
                <div class="press__info">
                    <h4 class="press__title">
                        <span class="press__tag">PODCAST</span>
                        <span class="press__title">SDSU Researcher Develops App To Promote Inclusive Teaching</span>
                    </h4>
                    <div class="press__date">January 23, 2019</div>
                    <div class="press__content">A San Diego State University researcher has developed a new web
                        application that may help teachers overcome their own implicit biases.
                    </div>
                    <div class="press__podcast-embed">
                        <audio controls="">
                            <source src="https://kpbs-aod.streamguys1.com/kpbs_podcasts/midday_edition/audio/2019/01/23/190123_-Equity_App_-Midday.mp3"
                                    type="audio/mpeg">
                        </audio>
                    </div>
                    <a class="research__read"
                       href="https://www.kpbs.org/news/2019/jan/23/sdsu-researcher-develops-app-promote-inclusive-tea/">Read
                        More ></a>
                </div>
            </div>
            <div class="press">
                <div class="press__logo">
                    <img src="/news_logos/AcademicMinute.png"/>
                </div>
                <div class="press__info">
                    <h4 class="press__title">
                        <span class="press__tag">NEWS</span>
                        <span class="press__title">Daniel Reinholz, San Diego State University – Reducing Implicit Bias in Teaching</span>
                    </h4>
                    <div class="press__date">January 23, 2019</div>
                    <div class="press__content">Even highly skilled teachers can have an unknown bias.
                        <br/>
                        Daniel Reinholz, assistant professor of mathematics education at San Diego State University,
                        explores one way to help teachers correct this
                    </div>
                    <a class="research__read"
                       href="https://academicminute.org/2019/01/daniel-reinholz-san-diego-state-university-reducing-implicit-bias-in-teaching/">Read
                        More ></a>
                </div>
            </div>
            <div class="press">
                <div class="press__logo">
                    <img src="/news_logos/SDSU_newscenter.gif"/>
                </div>
                <div class="press__info">
                    <h4 class="press__title">
                        <span class="press__tag">NEWS</span>
                        <span class="press__title">New App Promotes Equity in the Classroom</span>
                    </h4>
                    <div class="press__date">January 15, 2019</div>
                    <div class="press__content">Created by SDSU and Michigan State University, the app also helps
                        teachers be more intentional when eliciting student participation.
                    </div>
                    <a class="research__read"
                       href="http://newscenter.sdsu.edu/sdsu_newscenter/news_story.aspx?sid=77500">Read More ></a>
                </div>
            </div>
            <div class="press">
                <div class="press__logo">
                    <img src="/news_logos/math_ed_podcast_logo.jpg"/>
                </div>
                <div class="press__info">
                    <h4 class="press__title">
                        <span class="press__tag">PODCAST</span>
                        <span class="press__title">Math Ed Podcast: Episode 1817: Niral Shah</span>
                    </h4>
                    <div class="press__date">October 31, 2018</div>
                    <div class="press__content">Interviews with mathematics education researchers about recent studies.
                        Hosted by Samuel Otten, University of Missouri.
                    </div>
                    <div class="press__podcast-embed">
                        <iframe src="https://www.podomatic.com/embed/html5/episode/8933148?style=small&amp;autoplay=false"
                                allowfullscreen="true" allow="autoplay; fullscreen"
                                style="width: 504px; height: 208px;"></iframe>
                    </div>
                    <a class="research__read"
                       href="https://www.podomatic.com/podcasts/mathed/episodes/2018-10-31T07_55_17-07_00">Read More
                        ></a>
                </div>
            </div>

            <div class="press">
                <div class="press__logo">
                    <!--<img src="IMAGE_PATH" />-->
                    <!--Education Week-->
                </div>
                <div class="press__info">
                    <h4 class="press__title">
                        <span class="press__tag">NEWS</span>
                        <span class="press__title">Could an App Help Teachers Recognize Their Own Biases? - Education Week</span>
                    </h4>
                    <div class="press__date">September 14, 2017</div>
                    <div class="press__content">A Michigan State University professor has designed an app that helps
                        teachers recognize their implicit biases using data collected from their own classrooms.
                    </div>
                    <a class="research__read"
                       href="http://blogs.edweek.org/edweek/teacherbeat/2017/09/could_an_app_help_teachers_recognize_biases.html">Read
                        More ></a>
                </div>
            </div>
            <div class="press">
                <div class="press__logo">
                    <img src="/news_logos/mir-logo__1_.jpg"/>
                </div>
                <div class="press__info">
                    <h4 class="press__title">
                        <span class="press__tag">INTERVIEW</span>
                        <span class="press__title">App In Development Helps Teachers Fight Their Own Implicit Bias In The Classroom</span>
                    </h4>
                    <div class="press__date">September 1, 2017</div>
                    <div class="press__content">We don’t often recognize the implicit biases we all carry.

                        But study after study shows we tend to interact most with people who are like us: people who
                        look like us, talk like us.

                        One of places where our implicit bias can be especially problematic is in the classroom.
                    </div>
                    <div class="press__podcast-embed">
                        <audio controls="">
                            <source src="https://cpa.ds.npr.org/michigan/audio/2017/09/20170901_SS_teacher_bias_app.mp3"
                                    type="audio/mpeg">
                        </audio>
                    </div>
                    <a class="research__read"
                       href="http://michiganradio.org/post/app-development-helps-teachers-fight-their-own-implicit-bias-classroom">Read
                        More ></a>
                </div>
            </div>

            <div class="press">
                <div class="press__logo">
                    <!--<img src="IMAGE_PATH" />-->
                    <!--MSUToday-->
                </div>
                <div class="press__info">
                    <h4 class="press__title">
                        <span class="press__tag">NEWS</span>
                        <span class="press__title">MSU Researcher Working to Reduce Teacher Bias in the Classroom - MSUToday</span>
                    </h4>
                    <div class="press__date">July 28, 2017</div>
                    <div class="press__content">A Michigan State University researcher is developing a web application
                        that will help educators make their teaching practices more unbiased using data from their own
                        classrooms.
                    </div>
                    <a class="research__read"
                       href="https://msutoday.msu.edu/news/2017/msu-researcher-working-to-reduce-teacher-bias-in-the-classroom/">Read
                        More ></a>
                </div>
            </div>

            <!--<div class="press">-->
            <!--<div class="press__logo">-->
            <!--<img src="IMAGE_PATH" />-->
            <!--</div>-->
            <!--<div class="press__info">-->
            <!--<h4 class="press__title">-->
            <!--<span class="press__tag">TAG</span>-->
            <!--<span class="press__title">TITLE</span>-->
            <!--</h4>-->
            <!--<div class="press__date">DATE</div>-->
            <!--<div class="press__content">CONTENT</div>-->
            <!--<a class="research__read" href="LINK">Read More ></a>-->
            <!--</div>-->
            <!--</div>-->
        </div>
    </section>
</template>
