<template name="terms">
    <section class="c-help-faq-header__container">
        <h1 class="c-help-faq-header__title">Terms Of Use</h1>
    </section>
    <div style="max-width: var(--max-inner-container-width); margin: 0 auto;">
        <p>Effective Date: March 31, 2018</p>
        <p> IMPORTANT NOTICE: DISPUTES ABOUT THESE TERMS AND THE SERVICES PROVIDED BY EQUIP ARE SUBJECT TO BINDING
            ARBITRATION AND A WAIVER OF CLASS ACTION RIGHTS AS DETAILED IN THE “MANDATORY ARBITRATION AND CLASS ACTION
            WAIVER” SECTION BELOW. These User Terms of Service (the “Terms”) create a legal agreement between you (a
            “User”) and EQUIP (“Niral Shah,” “Daniel Reinholz,” “we,” “our”). These Terms govern your use of the
            services, software and websites (together, the “Services”) provided by EQUIP. By accessing or using the
            Services, you acknowledge and agree that you have read, understand, and agree to be bound by these Terms,
            our Acceptable Use Policy, and our Privacy Policy. If you do not agree to these Terms, then you have no
            right to access or use the Services. We may, from time to time, modify these Terms. Please check this page
            periodically for updates. If you do not agree to, or cannot comply with, the modified Terms, you must stop
            using the Services. The updated Terms will take effect upon their posting and will apply on a going-forward
            basis, unless otherwise provided in a notice to you, and except as provided in the Mandatory Arbitration and
            Class Action Waiver section of these Terms. Your continued use of the Services after any such update
            constitutes your binding acceptance of such changes.
        </p>
        <h3 style="margin-top: 20px;"> 1. ELIGIBILITY AND SCOPE</h3>
        <p>
            1.1 Eligibility. To use the Services you must be, and represent and warrant that you are, at least 13 years
            of age and competent to agree to these Terms. If you are agreeing to these Terms on behalf of an
            organization or entity, you represent and warrant that you are authorized to agree to these Terms on that
            organization or entity’s behalf and bind them to these Terms (in which case, the references to “you” and
            “your” in these Terms, except for in this sentence, refer to that organization or entity). If we have
            previously prohibited you from accessing or using the Services, you are not permitted to access or use the
            Services.

            1.2 Use Outside the United States of America. The Services are controlled and operated from the United
            States of America. We make no representations that the Services are appropriate for use in other locations.
            Those who access or use the Services from other locations do so at their own risk and are responsible for
            compliance with local law. We may offer services in other jurisdictions in which case a different version of
            these Terms may apply and will be presented to you on such services.
        </p>

        <h3 style="margin-top: 20px;"> 2. ACCOUNT REGISTRATION AND USE </h3>
        <p> 2.1 Account Registration and Confidentiality. To access the Services, you must register for an account by
            providing an email address and creating a password, and providing us with other information that we request.
            You agree to provide us with accurate, complete, and current registration information about yourself. It is
            your responsibility to ensure that your password remains confidential and secure. By registering, you agree
            that you are fully responsible for all activities that occur under your user name and password. We may
            assume that any communications we receive under your account have been made by you.

            2.2 Unauthorized Account Use. You are responsible for notifying us if you become aware of any unauthorized
            use of or access to your account. You understand and agree that we may require you to provide information
            that may be used to confirm your identity and help ensure the security of your account. We will not be
            liable for any loss, damages, liability, expenses or attorneys’ fees that you may incur as a result of
            someone else using your password or account, either with or without your knowledge and/or authorization, and
            regardless of whether you have or have not advised us of such unauthorized use. You will be liable for
            losses, damages, liability, expenses and attorneys’ fees incurred due to someone else using your account.
        </p>

        <h3 style="margin-top: 20px;"> 3. OUR PROPRIETARY RIGHTS </h3>
        <p>privacy and publicity and communications regulations and statutes.

            The EQUIP software is made available under the GNU Affero GPL License
            (https://www.gnu.org/licenses/agpl-3.0.en.html) and may be used in accordance with the terms of that
            license.
        </p>
        <h3 style="margin-top: 20px;"> 4. USER CONTENT AND SUBMISSIONS </h3>
        <p>
            4.1 User Content and Submissions. The Services allow you to create classrooms and perform observations,
            which may include information, text, files, and other materials (collectively, “User Content”). User Content
            submitted or otherwise made available (“submitted”) to the Services is subject to the following terms:
            All users of EQUIP must be sure to use the application in accordance with relevant privacy laws, such as the
            Family Educational Rights and Privacy Act (FERPA). Thus, a user should not use identifying information
            (e.g., the name of a school or district, full names of students) in a way that could violate the privacy
            rights of students or teachers being observed. Users are solely responsible for complying with the
            applicable laws. We reserve the right to remove any content on the Services that violates these Terms or
            that is otherwise objectionable in our sole discretion.
        </p>
        <h3 style="margin-top: 20px;"> 5. LICENSE AND ACCEPTABLE USE </h3>
        <p>
            5.1 Your License. Subject to your compliance with these Terms, we grant you a limited, non-exclusive,
            non-sublicensable, non-transferable, and revocable right to access and use the Services only for your own
            personal use, and only in a manner that complies with all legal requirements that apply to you or your use
            of the Services, including the Privacy Policy and these Terms. We may revoke this license at any time, in
            its sole discretion.

            5.2 Acceptable Use. Your use of EQUIP must comply at all times with our Acceptable Use Policy.

            5.3 Violations. In addition to any other remedies that may be available to us, we reserve the right to
            immediately suspend or terminate your account or your access to the Services upon notice and without
            liability should you fail to abide by the terms of this Section 5.
        </p>
        <h3 style="margin-top: 20px;"> 6. LEGAL COMPLIANCE </h3>
        <p>
            You acknowledge, consent, and agree that we may access, preserve, and disclose your information and/or any
            User Content you submit to the Services if required to do so by law or in a good faith belief that such
            access, preservation, or disclosure is permitted by the Privacy Policy or reasonably necessary or
            appropriate for any of the following reasons: (1) to comply with legal process; (2) to enforce these Terms,
            our Privacy Policy, or other contracts with you, including investigation of potential violations thereof;
            (3) to respond to claims that any content violates the rights of third parties; (4) to respond to your
            requests for customer service; and/or (5) to protect the rights, property, or personal safety of EQUIP, its
            agents and affiliates, its users, and the public. This includes exchanging information with other companies
            and organizations for fraud protection, and spam/malware prevention, and similar purposes.
        </p>
        <h3 style="margin-top: 20px;"> 7. PRIVACY </h3>
        <p>
            For information about how we collect, use, and share the data we collect from and about you, please see our
            Privacy Policy which is incorporated by reference into these Terms.
        </p>
        <h3 style="margin-top: 20px;"> 8. WARRANTIES, DISCLAIMERS AND LIMITATION OF LIABILITY </h3>
        <p>
            THE SERVICES AND ITS CONTENTS AND OTHER INFORMATION ON OR ACCESSIBLE FROM THE SERVICES ARE PROVIDED “AS IS”
            WITHOUT WARRANTY, REPRESENTATION, CONDITION, OR GUARANTEE OF ANY KIND, EITHER EXPRESSED OR IMPLIED,
            INCLUDING BUT NOT LIMITED TO ANY IMPLIED WARRANTIES, REPRESENTATIONS, CONDITIONS OR GUARANTEES OF QUALITY,
            MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE, OR NON-INFRINGEMENT, ALL OF WHICH ARE DISCLAIMED TO THE
            FULLEST EXTENT PERMITTED BY LAW. SPECIFICALLY, BUT WITHOUT LIMITATION, WE DO NOT WARRANT THAT: (i) THE
            INFORMATION AVAILABLE ON THE SERVICES IS FREE OF ERRORS; (ii) THE FUNCTIONS OR FEATURES (INCLUDING BUT NOT
            LIMITED TO MECHANISMS FOR THE DOWNLOADING AND UPLOADING OF CONTENT) WILL BE UNINTERRUPTED, SECURE, OR FREE
            OF ERRORS; (iii) DEFECTS WILL BE CORRECTED, OR (iv) THE SERVICES OR THE SERVER(S) THAT MAKE THE SERVICES
            AVAILABLE ARE FREE OF VIRUSES OR OTHER HARMFUL COMPONENTS. IN NO EVENT SHALL WE BE LIABLE TO YOU OR ANY
            OTHER PERSON OR ENTITY FOR ANY INDIRECT, SPECIAL, INCIDENTAL, CONSEQUENTIAL, OR PUNITIVE DAMAGES (INCLUDING,
            BUT NOT LIMITED TO, DAMAGES FOR LOSS OF PROFITS, LOSS OF DATA, LOSS OF USE, OR COSTS OF OBTAINING SUBSTITUTE
            GOODS OR SERVICES), ARISING OUT OF OR IN CONNECTION WITH THE SERVICES, ANY MATERIALS, INFORMATION, OR
            RECOMMENDATIONS APPEARING ON THE SERVICES, OR ANY LINK PROVIDED ON THE SERVICES, WHETHER OR NOT WE HAVE BEEN
            ADVISED OF THE POSSIBILITY OF SUCH DAMAGES AND WHETHER BASED UPON WARRANTY, CONTRACT, TORT, STRICT
            LIABILITY, VIOLATION OF STATUTE, OR OTHERWISE. THIS EXCLUSION OF LIABILITY SHALL APPLY TO THE FULLEST EXTENT
            PERMITTED BY LAW. IN ANY EVENT, OUR AGGREGATE LIABILITY WILL NOT EXCEED THE AMOUNT PAID FOR THE PRODUCT OR
            SERVICE TO WHICH THE CLAIM RELATES OR, IF THE CLAIM DOES NOT RELATE TO A PRODUCT OR SERVICE, $100. WE DO NOT
            WARRANT, ENDORSE, GUARANTEE OR ASSUME RESPONSIBILITY FOR ANY PRODUCT OR SERVICE ADVERTISED OR OFFERED BY A
            THIRD PARTY THROUGH THE SERVICES OR ANY WEBSITE FEATURED OR LINKED TO THROUGH THE SERVICES, AND WE WILL NOT
            BE A PARTY TO OR IN ANY WAY BE RESPONSIBLE FOR MONITORING ANY TRANSACTION BETWEEN YOU AND THIRD-PARTY
            PROVIDERS OF PRODUCTS OR SERVICES. WE WILL NOT BE LIABLE FOR THE OFFENSIVE OR ILLEGAL CONDUCT OF ANY THIRD
            PARTY. YOU VOLUNTARILY ASSUME THE RISK OF HARM OR DAMAGE FROM THE FOREGOING. THE FOREGOING LIMITATIONS WILL
            APPLY EVEN IF A REMEDY FAILS OF ITS ESSENTIAL PURPOSE AND TO THE FULLEST EXTENT PERMITTED BY LAW. If you are
            a California resident, you hereby waive California Civil Code §1542, which says: “A general release does not
            extend to claims which the creditor does not know or suspect to exist in his favor at the time of executing
            the release, which if known by him must have materially affected his settlement with the debtor.” This
            release includes the criminal acts of others.
        </p>

        <h3 style="margin-top: 20px;"> 9. EXCLUSIONS AND LIMITATIONS </h3>
        <p>
            Some jurisdictions do not allow the exclusion of certain warranties or the limitation or exclusion of
            liability for incidental or consequential damages such as above in Section 8. Accordingly, some of the above
            limitations may not apply to you. If you are a New Jersey resident, or a resident of another state that
            permits the exclusion of these warranties and liabilities, then the limitations in Section 8 specifically do
            apply to you.
        </p>
        <h3 style="margin-top: 20px;"> 10. INDEMNITY </h3>
        <p>
            YOU AGREE TO INDEMNIFY, DEFEND, AND HOLD US HARMLESS FROM AND AGAINST ANY CLAIM OR DEMAND, INCLUDING WITHOUT
            LIMITATION, REASONABLE ATTORNEYS’ FEES AND DISBURSEMENTS, MADE BY ANY THIRD PARTY IN CONNECTION WITH OR
            ARISING OUT OF YOUR USE OF THE SERVICES, YOUR CONNECTION TO THE SERVICES, YOUR VIOLATION OF THE TERMS OR
            PRIVACY POLICY, YOUR VIOLATION OF AN APPLICABLE LAW, YOUR SUBMISSION, POSTING, OR TRANSMISSION OF USER
            CONTENT TO THE SERVICES, AND/OR YOUR VIOLATION OF ANY RIGHTS OF ANOTHER. WE RESERVE THE RIGHT, AT OUR OWN
            EXPENSE, TO ASSUME THE EXCLUSIVE DEFENSE AND CONTROL OF SUCH DISPUTES, AND IN ANY EVENT YOU WILL COOPERATE
            WITH US IN ASSERTING ANY AVAILABLE DEFENSES.
        </p>
        <h3 style="margin-top: 20px;"> 11. MODIFICATION AND TERMINATION </h3>
        <p>
            11.1 Modification of Services. We reserve the right at any time to modify or discontinue, temporarily or
            permanently, the Services (or any part thereof), with or without notice. You agree that we shall not be
            liable to you or any third party for any modification, suspension or discontinuance of the Services.

            11.2 Termination. These Terms are effective unless and until terminated by you or us. We may, in our sole
            and absolute discretion, deny you access to all or part of the Services at any time for any or no reason at
            all, with or without notice to you. If we terminate your right to access the Services, these Terms will
            terminate and all rights you have to access the Services will immediately terminate; however, certain
            provisions of these Terms will still apply post termination, including without limitation, the Mandatory
            Arbitration and Class Action Waiver provisions. Termination of your account may also include, at our sole
            discretion, the deletion of your account and/or User Content.
        </p>
        <h3 style="margin-top: 20px;"> 12. MANDATORY ARBITRATION AND CLASS ACTION WAIVER </h3>
        <p>
            PLEASE READ THIS SECTION CAREFULLY. IT AFFECTS YOUR LEGAL RIGHTS, INCLUDING YOUR RIGHT TO FILE A LAWSUIT IN
            COURT.

            12.1 Application. You agree that these Terms affect interstate commerce and that the Federal Arbitration Act
            governs the interpretation and enforcement of these arbitration provisions. This Section 13 is intended to
            be interpreted broadly and governs any and all disputes between us including but not limited to claims
            arising out of or relating to any aspect of the relationship between us, whether based in contract, tort,
            statute, fraud, misrepresentation or any other legal theory; claims that arose before these Terms or any
            prior agreement (including, but not limited to, claims related to advertising); and claims that may arise
            after the termination of these Terms. The only disputes excluded from this broad prohibition are the
            litigation of certain intellectual property and small court claims, as provided below.

            12.2. Initial Dispute Resolution. Most disputes can be resolved without resort to arbitration. If you have
            any dispute with us, you agree that before taking any formal action, you will contact us and provide a
            brief, written description of the dispute and your contact information (including your username, if your
            dispute relates to an account). Except for intellectual property and small claims court claims, the parties
            agree to use their best efforts to settle any dispute, claim, question, or disagreement directly through
            consultation with us, and good faith negotiations shall be a condition to either party initiating a lawsuit
            or arbitration.

            12.3 Binding Arbitration. If the parties do not reach an agreed-upon solution within a period of thirty (30)
            days from the time informal dispute resolution is initiated under the Initial Dispute Resolution provision
            above, then either party may initiate binding arbitration as the sole means to resolve claims, (except as
            provided in section 13.7 below) subject to the terms set forth below. Specifically, all claims arising out
            of or relating to these Terms (including the Terms’ formation, performance, and breach), the parties’
            relationship with each other, and/or your use of EQUIP shall be finally settled by binding arbitration
            administered by the American Arbitration Association (“AAA”) in accordance with its Consumer Arbitration
            Rules. The AAA rules will govern payment of all arbitration fees.

            12.4 Arbitrator’s Powers. The arbitrator, and not any federal, state, or local court or agency, shall have
            exclusive authority to resolve all disputes arising out of or relating to the interpretation, applicability,
            enforceability, or formation of these Terms including but not limited to any claim that all or any part of
            these Terms is void or voidable, whether a claim is subject to arbitration, or the question of waiver by
            litigation conduct. The arbitrator shall be empowered to grant whatever relief would be available in a court
            under law or in equity. The arbitrator’s award shall be written and shall be binding on the parties and may
            be entered as a judgment in any court of competent jurisdiction.

            12.5 Filing a Demand. To start an arbitration, you must do the following: (a) Write a Demand for Arbitration
            (“Demand”) that (i) briefly explains the dispute, (ii) lists your and our names and addresses, (iii) specify
            the amount of money in dispute, if applicable, (iv) identify the requested location for a hearing if an
            in-person hearing is requested, and (v) state what you want in the dispute; (b) Send one copy of the Demand
            to the AAA, along with a copy of these Terms and the filing fee required by the AAA; and (c) Send one copy
            of the Demand for Arbitration to us.

            The parties understand that, absent this mandatory arbitration provision, they would have the right to sue
            in court and have a jury trial. They further understand that, in some instances, the costs of arbitration
            could exceed the costs of litigation and the right to discovery may be more limited in arbitration than in
            court. If you are a resident of the United States, arbitration may take place in the county where you reside
            at the time of filing, unless you and we both agree to another location or telephonic arbitration. For
            individuals residing outside the United States, arbitration shall be initiated in San Diego County,
            California, United States, and we agree to submit to the personal jurisdiction of any federal or state court
            in San Diego County, California, United States, in order to compel arbitration, stay proceedings pending
            arbitration, or to confirm, modify, vacate, or enter judgment on the award entered by the arbitrator.

            12.6 Class Action Waiver. The parties further agree that the arbitration shall be conducted in the party’s
            respective individual capacities only and not as a class action or other representative action, and the
            parties expressly waive their right to file a class action or seek relief on a class basis. YOU AGREE THAT
            EACH MAY BRING CLAIMS AGAINST THE OTHER ONLY IN YOUR OR ITS INDIVIDUAL CAPACITY, AND NOT AS A PLAINTIFF OR
            CLASS MEMBER IN ANY PURPORTED CLASS OR REPRESENTATIVE PROCEEDING. If any court or arbitrator determines that
            the class action waiver set forth in this paragraph is void or unenforceable for any reason or that an
            arbitration can proceed on a class basis, then the arbitration provisions set forth above shall be deemed
            null and void in their entirety and the parties shall be deemed to have not agreed to arbitrate disputes.

            12.7 Exception: Litigation of Intellectual Property and Small Claims Court Claims. Notwithstanding the
            parties’ decision to resolve all disputes through arbitration, either party may bring enforcement actions,
            validity determinations or claims arising from or relating to theft, piracy or unauthorized use of
            intellectual property in state or federal court with jurisdiction or in the U.S. Patent and Trademark Office
            to protect its intellectual property rights (“intellectual property rights” means patents, copyrights, moral
            rights, trademarks, and trade secrets, but not privacy or publicity rights). Either party may also seek
            relief in small claims court in San Diego, California for disputes or claims within the scope of that
            court’s jurisdiction.

            12.8 30-Day Right to Opt Out. You have the right to opt out and not be bound by the arbitration and class
            action waiver provisions set forth above by sending written notice of your decision to opt out to us with
            the subject line, “ARBITRATION AND CLASS ACTION WAIVER OPT-OUT.” The notice must be sent within the later of
            30 days of your first use of the Site or within 30 days of changes to this section being announced on the
            Site. Otherwise you shall be bound to arbitrate disputes in accordance with the terms of these paragraphs.
            If you opt out of these arbitration provisions, we also will not be bound by them.

            12.9 Changes to This Section. We will provide thirty (30) days’ notice of any changes to this section by
            posting on the Services. Amendments will become effective thirty (30) days after they are posted on the
            Services or sent to you by email. Changes to this section will otherwise apply prospectively only to claims
            arising after the thirtieth (30th) day. If a court or arbitrator decides that this subsection on “Changes to
            This Section” is not enforceable or valid, then this subsection shall be severed from the section entitled
            Mandatory Arbitration and Class Action Waiver, and the court or arbitrator shall apply the first Mandatory
            Arbitration and Class Action Waiver section in existence after you began using the Services.

            12.10 Survival. This Mandatory Arbitration and Class Action Waiver section shall survive any termination of
            your use of the Services.
        </p>
        <h3 style="margin-top: 20px;"> 13. CONTROLLING LAW AND SEVERABILITY </h3>
        <p>
            These Terms shall be construed in accordance with and governed by the laws of California notwithstanding its
            conflicts of law principles. Any dispute arising out of these terms and conditions or the use of this site
            shall be initiated and conducted in the state or federal courts of San Diego County, California, and you
            consent to the exclusive jurisdiction of such courts.
        </p>
        <h3 style="margin-top: 20px;"> 14. GENERAL TERMS </h3>
        <p>
            14.1 Force Majeure. Under no circumstances shall we be held liable for any delay or failure in performance
            resulting directly or indirectly from an event beyond its reasonable control.

            14.2 No Waiver. No waiver of any provision of these Terms will be binding unless in writing, no waiver of
            any provisions of these Terms will be deemed a further or continuing waiver of such provision or any other
            provision, and our failure to exercise or enforce any right or remedy in these Terms does not waive that
            right or remedy. If an arbitrator or a court of competent jurisdiction finds any provision of these Terms to
            be invalid, the parties agree that the court should endeavor to give effect, to the maximum extent permitted
            by law, to the parties’ intentions as reflected in the provision, and the other provisions of these Terms
            will remain in full force and effect.

            14.3 Third-Party Beneficiaries. You agree that, except as otherwise expressly provided in these Terms, there
            shall be no third-party beneficiaries to these Terms.

            14.4 Statute of Limitations. Except for residents of New Jersey, you agree that regardless of any statute or
            law to the contrary, any claim or cause of action arising out of or related to the use of the Services
            and/or these Terms must be filed within one (1) year after such claim or cause of action arose or be forever
            barred.

            14.5 Miscellaneous. These Terms (and all terms and conditions incorporated herein) constitute the entire
            agreement between you and us and govern your use of the Services, and supersede any prior agreements between
            you and us on the subject matter. These Terms, and any rights or licenses granted hereunder, may not be
            assigned or delegated by you. These Terms, and any rights or licenses granted hereunder, may be assigned or
            delegated by us without restriction. These Terms bind and inure to the benefit of each party and the party’s
            successors and permitted assigns. These Terms may not be modified by an oral statement by a representative
            of us. No agency, partnership, joint venture or employee-employer relationship is intended or created by
            these Terms. You agree that any agreements made by and between you and us in electronic form are as legally
            binding as if made in physical written form. If you are using the Services for or on behalf of the U.S.
            government, your license rights do not exceed those granted to non-government consumers. The section titles
            in these Terms are for convenience only and have no legal or contractual effect. Any provision of these
            Terms that by its nature is reasonably intended to survive beyond termination of these Terms shall survive.

            14.6 Notices. We may deliver notice to you by e-mail, posting a notice on the Services or any other method
            we choose and such notice will be effective on dispatch.
        </p>
        <h3 style="margin-top: 20px;"> 15. QUESTIONS </h3>
        <p>
            If you have any questions about these Terms, please contact us.
        </p>

        <h3 style="margin-top: 20px;"> Acceptable Use </h3>
        <p>
            Effective Date: March 31, 2018

            Disruption of the Service. You may not:
            access, tamper with, or use non-public areas of the Service, our computer systems, or the technical delivery
            systems of our providers;
            probe, scan, or test the vulnerability of any system or network or breach or circumvent any security or
            authentication measure;
            access or search the Service by any means other than our publicly supported interfaces (for example,
            “scraping”);
            attempt to disrupt or overwhelm our infrastructure by intentionally imposing unreasonable requests or
            burdens on our resources (e.g. using “bots” or other automated systems to send requests to our servers at a
            rate beyond what could be sent by a human user during the same period of time)
            interfere with or disrupt the access of any user, host or network, including, without limitation, by sending
            a virus, overloading, flooding, spamming, mail-bombing the Service, or by scripting the creation of Content
            in such a manner as to interfere with or create an undue burden on the Service.

            Misuse of the Service. You may not utilize the Service to carry out, promote or support:
            any unlawful or fraudulent activities;
            the impersonation of another person or entity or the misrepresentation of an affiliation with a person or
            entity in a manner that does or is intended to mislead, confuse, or deceive others;
            activities that are defamatory, libelous or threatening, constitute hate speech, harassment, or stalking;
            the publishing or posting other people’s private or personally identifiable information, such as credit card
            numbers, street address or Social Security/National Identity numbers, without their express authorization
            and permission;
            the sending unsolicited communications, promotions advertisements, or spam;
            the publishing of or linking to malicious content intended to damage or disrupt another user’s browser or
            computer; or
            promotion or advertisement of products or services other than your own without appropriate authorization.

            Content Standards Within the Service. You may not post any Content on the Service that:
            violates of any applicable law, any third party’s intellectual property rights, or anyone’s right of privacy
            or publicity;
            is deceptive, fraudulent, illegal, obscene, pornographic (including child pornography, which, upon becoming
            aware of, we will remove and report to law enforcement, including the National Center for Missing and
            Exploited children), defamatory, libelous or threatening, constitutes hate speech, harassment, or stalking;
            contains viruses, bots, worms, or similar harmful materials; or
            contains any information that you do not have a right to make available under law or any contractual or
            fiduciary duty.

            Violations of this Acceptable Use Policy. In addition to any other remedies that may be available to us, we
            reserve the right to immediately suspend or terminate your account or your access to the Service upon notice
            and without liability should you fail to abide by this Acceptable Use Policy. If you are a user of the
            Service under your employer or organization’s account, we reserve the right to notify your employer or
            organization of any violations of this Acceptable Use Policy.

            Modifications. We may amend or modify this Acceptable Use Policy from time to time in its sole and
            reasonable discretion. We will post any such changes on our website. If you object to any such change(s),
            your sole recourse shall be to cease using the Service. Continued use of the Service following notice of any
            such changes shall constitute your acknowledgement and acceptance of such changes.

        </p>
        <h3 id="privacy" style="margin-top: 20px;"> Privacy Policy </h3>
        <p>
            Effective Date: March 31, 2018

            This Privacy Policy describes our practices regarding the collection, use and disclosure of the information
            we collect from and about you when you use the web-based EQUIP application (the “Services”). By accessing or
            using the Services, you agree to this Privacy Policy, our Terms of Service, and our Acceptable Use Policy.

            IF YOU DO NOT AGREE TO THIS PRIVACY POLICY, PLEASE DO NOT USE THE SERVICES.

            This Privacy Policy contains the following sections:

            The Information We Collect
            How We Use Your Information
            Cookies and Similar Technologies
            Online Analytics and Advertising
            How We Share and Disclose Your Information
            Your Choices
            Children’s Privacy
            Your Rights
            How Long We Store Your Information
            Changes to Our Privacy Policy
            How We Protect Your Information
            California Privacy Rights
            Contact Info

            THE INFORMATION WE COLLECT
            We collect a variety of information that you provide directly to us. We process your information when
            necessary to provide you with the Services that you have requested when accepting our Terms of Service, or
            where we have obtained your prior consent, or where we have a legitimate interest to do so. For example, we
            may have a legitimate interest to process your information for security, testing, maintenance, and
            enhancement purposes of the Services we provide to you, or for analytics, research, and reporting purposes.
            Without your information, we cannot provide you with the Services you have requested or you may be limited
            in your use of the Services.

            1. Information You Provide to Us
            We collect information from you through:

            Account and product registration and administration of your account
            Requests or questions you submit to us via forms or email
            Your communications and dealings with us
            Requests for customer support and technical assistance
            Information from and about you. The types of information we collect will depend upon the Services you use,
            how you use them, and what you choose to provide. The types of data we collect directly from you may
            include: - Name, address, telephone number and email address - Log-in details and password, if you create an
            EQUIP account - Any email requests or questions you submit to us.
            Content. In using the Services, you may upload or input various types of content related to creating
            classrooms and performing observations.

            2. Information We Automatically Collect
            When you use our Services that connect to the Internet, we automatically collect certain information as
            described in this Section. As discussed further below, we use a variety of technologies, including cookies
            and similar tools, to assist in collecting this information.

            Log Files When you use the Services, our servers automatically record certain information in server logs.
            These server logs may include information such as your web request, Internet Protocol (“IP”) address,
            browser type and settings, referring / exit pages and URLs, number of clicks and how you interact with links
            on the Services, metadata associated with uploaded Content, domain names, landing pages, pages viewed,
            mobile carrier, date and time stamp information and other such information.

            Device Identifiers When you access the Services using a mobile device, we collect specific device
            information, including your MAC address and other unique device identifiers. We also collect information
            such as the type of device you are using, its operating system, and mobile network information, which may
            include your mobile phone number. We may associate this device identifier with your account and will use
            data associated with your device identifier to customize our Services to your device and to analyze any
            device-related issues.

            COOKIES AND SIMILAR TECHNOLOGIES
            To collect the information in the “Information We Automatically Collect” section above, we and our service
            providers use Internet server logs, cookies, tags, and other similar tracking technologies. A web server log
            is a file where website activity is stored. A cookie is a small text file that is placed on your computer or
            mobile device when you visit a site, that enables us to: (i) recognize your computer and login session; (ii)
            store your preferences and settings; (iii) understand which web pages of the Services you have visited;
            (iv), enhance your user experience by delivering and measuring the effectiveness of content; (v) perform
            analytics; and (vi) assist with security and administrative functions. Tracking pixels (sometimes referred
            to as web beacons or clear GIFs) are tiny electronic tags with a unique identifier embedded in websites,
            online ads and/or email, and that are designed to provide usage information like ad impressions or clicks,
            email open rates, measure popularity of the Services and associated advertising, and to access user cookies.
            As we adopt additional technologies, we may also gather information through other methods.

            Please note that you can change your settings to notify you when a cookie is being set or updated, or to
            block cookies altogether. Please consult the “Help” section of your browser for more information (e.g.,
            Internet Explorer; Google Chrome; Mozilla Firefox; or Apple Safari).

            HOW WE USE YOUR INFORMATION
            We use your information (including any information that we collect, as described in this Privacy Policy) for
            various purposes depending on the types of information we have collected from and about you and the specific
            Services you use, including to:

            Respond to your request for information and provide you with more effective and efficient customer service
            Contact you by email, postal mail, or phone regarding services, surveys, research studies, promotions,
            special events and other subjects that we think may be of interest to you
            Help us better understand your interests and needs, and improve the Services
            Engage in analysis, research, and reports regarding use of our Services
            Provide, manage, and improve the Services
            Protect our Services and our users
            Understand and resolve app crashes and other issues being reported

            We may view and share your Content only as necessary (i) to maintain, provide and improve the Service; (ii)
            prevent or address technical or security issues and resolve support requests; (iii) if we have a good faith
            belief, or have received a complaint alleging, that such Content is in violation of our Acceptable Use
            Guidelines; (iv) as reasonably necessary to allow us to comply with or avoid the violation of applicable law
            or regulation; (v) to comply with a valid legal subpoena, request, or other lawful process that meets the
            requirements of our Law Enforcement Guidelines; and (vi) as set forth in our Subscription Agreement with the
            Customer or as expressly permitted in writing by the Customer. We may also analyze your User Content in
            aggregate and on an anonymized basis, in order to better understand the manner in which our Service is being
            used.

            Combined Information. You consent that, for the purposes discussed in this Policy, we may combine the
            information that we collect through the Services with information that we receive from other sources, both
            online and offline, and use such combined information in accordance with this Policy.

            Aggregate/De-Identified Data. We may aggregate and/or de-identify information collected through the Services
            so that such information can no longer be linked to you or your device (“Aggregate/De-Identified
            Information”). We may use Aggregate/De-Identified Information for any purpose, including without limitation
            for research and marketing purposes, and may also share such data with any third parties, including
            advertisers, promotional partners, sponsors, event promoters, and/or others. By using the Services, you
            consent to such use.

            ONLINE ANALYTICS
            We use third-party web analytics services (e.g., Google Analytics) on our Services to collect and analyze
            the information discussed above, and to engage in auditing, research and reporting. The information
            (including your IP address) collected by various analytics technologies described in the “Cookies and
            Similar Technologies” section will be disclosed to or collected directly by these service providers, who use
            the information to evaluate your use of the Services, including by noting the third-party website from which
            you arrive, analyzing usage trends across Services and mobile devices, assisting with fraud prevention, and
            providing certain features to you. To prevent Google Analytics from using your information for analytics,
            you may install the Google Analytics Opt-out Browser Add-on by clicking here.

            If you receive email from us, we may use certain analytics tools, such as clear GIFs to capture data such as
            when you open our message or click on any links or banners our email contains. This data allows us to gauge
            the effectiveness of our communications and marketing campaigns.

            HOW WE SHARE YOUR INFORMATION
            From time to time, we may share Aggregate/De-Identified Information about use of the Services, such as by
            publishing a report on usage trends. As stated above, this Policy places no limitations on our use or
            sharing of Aggregate/De-Identified Information.
            Consent. We may also disclose your information to third parties with your consent to do so.

            YOUR CHOICES
            We provide you with a number of choices with respect to the information we collect and use as discussed
            throughout this Privacy Policy. For example: - You may instruct us not to use your contact information to
            contact you by email, postal mail or phone regarding products, services, promotions and special events that
            might appeal to your interests by contacting us – see the Contact Info section below. Please note that,
            regardless of your request, we may still use and share certain information as permitted by this Privacy
            Policy or as required by applicable law. For example, you may not opt out of certain operational or
            service-related emails, such as those reflecting our relationship or transactions with you.

            CHILDREN’S PRIVACY
            The Services are intended for general audiences and not for children under the age of 13. If we become aware
            that we have collected personal information (as defined by the Children’s Online Privacy Protection Act)
            from children under the age of 13, we will take reasonable steps to delete it as soon as practicable.

            YOUR RIGHTS
            If you want to learn more about the information collected through the Services, or if you would like to
            access or rectify your information and/or request deletion of information we collect about you, or restrict
            or object to the processing of your information, please contact us using the contact information below.
            Where you have provided consent, you may withdraw your consent at any time, without affecting the lawfulness
            of the processing that was carried out prior to withdrawing your consent. If you are dissatisfied with the
            way we process your information, you may lodge a complaint with the data protection authority (“DPA”) in
            your jurisdiction. If you are a resident of France, your DPA is the Commission Nationale de l’Informatique
            et des Libertes (“CNIL”). If you are a resident of Germany, please see the DPA located in your particular
            state. If you are a resident of France, you may provide us with instructions regarding the manner in which
            we may continue to store, erase and share your information after your death, and where applicable, the
            person you have designated to exercise these rights after your death.

            HOW LONG WE STORE YOUR INFORMATION
            We will retain your information for the period necessary to fulfill the purposes outlined in this Policy
            unless a longer retention period is required or permitted by law.

            CHANGES TO OUR PRIVACY POLICY
            We reserve the right to amend this Policy at any time to reflect changes in the law, our data collection and
            use practices, the features of our Services, or advances in technology. We will make the revised Policy
            accessible through the Services, so you should review the Policy periodically. If we make a material change
            to the Policy, you will be provided with appropriate notice and we will seek your consent to the updated
            Policy in accordance with legal requirements.

            HOW WE PROTECT YOUR INFORMATION
            We take technical and organizational measures to protect your personal data against accidental or unlawful
            destruction or accidental loss, alteration, unauthorized disclosure or access. However, no method of
            transmission over the Internet, and no means of electronic or physical storage, is absolutely secure, and
            thus we cannot ensure or warrant the security of that information.

            CALIFORNIA PRIVACY RIGHTS
            California law gives residents of California the right under certain circumstances to request information
            from us regarding the manner in which we share certain categories of personal information (as defined by
            applicable California law) with third parties for their direct marketing purposes. However, we do not share
            your personal information with third parties for their own direct marketing purposes.

            CONTACT INFO
            If you wish to contact us or have any questions about or complaints in relation to this Privacy Policy,
            please contact us at daniel.reinholz@sdsu.edu or niral@msu.edu
        </p>
    </div>
</template>
