<!-- HTML displayed on page load. Spinner moved to middle of the screen -->

<template name="loading">
  <div>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
      <div class="loading-data">
          <p class="loading-data__text">Loading data {{percent_loaded}}%...</p>
          <div class="loading-bar">
              <div class="loading-bar__fill" style="width: {{percent_loaded}}%"></div>
          </div>
      </div>
      <br>
      <br>
      <br>
      <br>
      <br>
  </div>
</template>

<template name="loadingBar">
</template>